@use "icons/api" as icon-api;
@use "mixins/media" as media;

.transfers {
  .grain-list {
    .state-error {
      width: 32px;
      height: 24px;
      @include icon-api.icon("close");
      &::before {
        font-size: 20px;
      }

      color: #a00;
    }

    .state-done {
      width: 32px;
      height: 24px;
      @include icon-api.icon("check");
      &::before {
        font-size: 20px;
      }

      color: #0a0;
    }

    .state-downloading {
      width: 32px;
      height: 24px;
      @include media.pseudo-img-tag();
      background-image: url("/spinner_96.gif");
      background-position-x: center;
    }
  }
}
