.topbar-popup.request>.frame-container>.frame {
  >.selected-card {
    >div.powerbox-iframe-mount {
      width: 100%;
      height: 500px;
      border: 1px solid #ddd;
      margin-top: 10px;

      >div.grain-container {
        height: 100%;
        >iframe.grain-frame {
          position: static;
          width: 100%;
          height: 100%;
          display: block;
        }
      }
    }
  }
}
