@use "partials";

@mixin powerbox-card () {
  border-top: 1px solid #dddddd;
  border-left: 1px solid #dddddd;
  border-right: 1px solid #dddddd;
  &:last-child {
    border-bottom: 1px solid #dddddd;
  }
  background-color: #eeeeee;
  display: block;
  vertical-align: middle;
  min-height: 32px;
  >button.card-button {
    @include partials.unstyled-button();
    white-space: normal;
    word-break: break-all;
    overflow-wrap: break-word;
    width: 100%;
    background-size: 24px 24px;
    background-position: 4px 4px;
    background-repeat: no-repeat;
    padding: 4px 4px 4px 32px;
    min-height: 31px;
  }
}
