@use "geometry";
@use "partials";
@use "account-primitives";

.danger-zone {
  button.delete-account {
    @include partials.button-base();
    @include partials.button-danger();
  }
}

.first-sign-in-main-content, .suspended-main-content {
  z-index: 1;
  h1 {
    text-align: center;
  }
  .profile-editor {
    position: static;
    margin: auto;
  }
}

.suspended-main-content {
  h2 {
    text-align: center;
  }
  button {
    display: block;
    margin: auto;
    font-size: 18px;
    @include partials.button-base();

    &.restore-account {
      @include partials.button-primary();
      margin-bottom: 20px;
    }

    &.logout {
      @include partials.button-secondary();
    }
  }
}

div.single-profile-editor {
  max-width: 660px;
  margin: auto;
}

div.profile-editor {
  @media #{geometry.$not-mobile-only} {
    width: 660px;
  }

  background-color: white;
  padding: 22px;

  form.account-profile-editor {
    @include partials.standard-form();
    display: block;

    .inline-icon {
      width: 20px;
    }

    ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
    }

    .picture-row {
      display: flex;
      flex-direction: row;
      align-items: flex-start;
      justify-content: flex-start;
      .picture-box {
        flex: none;
        width: 128px;
        height: 128px;
        margin-right: 16px;
        img {
          max-width: 128px;
          max-height: 128px;
        }
      }
    }

    .terms, .mailingListOptin {
      padding-left: 24px;
      label {
        font-weight: inherit;
        text-indent: -24px;
      }
    }

    .handle input[type="text"] {
      font-family: monospace;
    }
  }
}

.main-content>.account,
.topbar-popup,
.popup.request,
.first-time-billing-prompt {
  .mobile-iframe-hack {
    border: 0px;
    opacity: .01;

    &.fullscreen {
      @include account-primitives.fullscreen-iframe-hack();
    }
  }
}
