@use "icon-api";
@use "colors";
@use "geometry";
@use "partials";

.main-content>.account {
  .credentials-tabs {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: flex-start;

    white-space: normal;
    vertical-align: top;

    ul {
      position: relative;
      margin: 0px;
      padding: 0px;

      li {
        list-style-type: none;
        background-color: white;
        margin-bottom: 10px;
        padding: 4px;
        position: relative;

        @media #{geometry.$not-mobile-only} {
          margin-right: 7px;

          &[aria-selected=true] {
            margin-right: 0px;
          }
        }
        @media #{geometry.$mobile-only} {
          border: 1px solid colors.$generic-border-color;

          &[aria-selected=true] {
            border: 2px solid colors.$generic-border-color;
          }
        }

        .credential-card {
          display: static;
          height: auto;
          .login-provider-icon {
            width: 32px;
            height: 32px;
          }
          .name {
            line-height: 32px;
            font-size: 12pt;
          }
        }

        .credential-management-controls {
          div.toggle-login {
            padding-left: 8px;
            font-size: 9pt;
          }
          button.unlink-credential {
            position: absolute;
            right: 14px;
            top: 8px;
          }
        }
      }
    }
    .login-buttons-list {
      width: 218px;
      margin-right: 7px;
      .troubleshooting, a[href="/about"] {
        display: none;
      }
    }

    .account-buttons {
      text-align: right;
    }

    button.account-button {
      @include partials.button-base();
      @include partials.button-secondary();
      @media #{geometry.$not-mobile-only} {
        margin-right: 7px;
      }

      @media #{geometry.$mobile-only} {
        flex: 1;
        &:not(:last-child) {
          margin-right: 8px;
        }
      }

      min-height: 30px;

      margin-bottom: 12px;

      &.link-new-credential {
        @include icon-api.icon("link");
        @include partials.button-primary();
        &::before {
          font-size: 20px;
        }
      }

    }
  }
}
