@use "icon-api";
@use "colors";
@use "partials";

.credential-login-interstitial {
  z-index: 1;
  background-color: #efefef;
  div.centered-content{
    margin: auto;
    text-align: center;
    width: 400px;
    max-width: 100%;
    background-color: white;
    >.credential-card {
      width: 100%;
    }
    .warning-banner {
      padding: 10px;
      background-color: #b52931;
      color: white;
    }
    ul {
      list-style-type: none;
      padding: 0;
      li.non-login-account {
        padding-top: 10px;
        margin-bottom: 10px;

        &:first-child {
          border-top: 1px solid #ddd;
        }
        border-bottom: 1px solid #ddd;
      }
      li {
        position: relative;
        padding-bottom: 10px;
        button.unlink {
          @include partials.button-base();
          @include partials.button-secondary();
          position: absolute;
          right: 25px;
          top: 10px;
        }
      }
    }
    button.danger {
      @include partials.button-base();
      @include partials.button-danger();
    }
    button.logout {
      @include partials.button-base();
      @include partials.button-primary();
    }
  }
}

.credential-card-sign-in {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 400px;
  max-width: 100%;
  background-color: white;
  button.sign-in {
    border: none;
    border-top: 1px solid #ddd;
    width: 100%;
    background-color: transparent;
    cursor: pointer;
    text-align: left;
  }
  h4 {
    margin-bottom: 5px;
  }
  .light-border {
    border: 1px solid gray;
  }
}

.credential-management-controls {
  .login-credentials-of-linked-accounts {
    border: 1px solid gray;
    border-radius: 2px;
    padding: 10px;
    ul.unlinkable-credentials {
      list-style-type: none;
      padding: 0;
      li{
        position: relative;
        padding-bottom: 10px;
        .credential-card {
          border: 1px solid black;
        }
        button.unlink {
          @include partials.button-base();
          @include partials.button-secondary();
          position: absolute;
          left: 240px;
          top: 15px;
        }
      }
    }
    button.hide-other-accounts {
      @include partials.button-base();
      @include partials.button-secondary();
    }
  }
  button.show-other-accounts {
    @include partials.button-base();
    @include partials.button-secondary();
  }
  button.unlink-credential {
    @include partials.button-base();
    @include partials.button-secondary();
    width: 80px;
    height: 30px;
    padding-left: 30px;

    position: relative;

    @include icon-api.icon("unlink");
    &::before {
      position: absolute;
      left: 5px;
      top: 2px;
      font-size: 24px;
    }
  }
}

ul.credential-card-list {
  padding-left: 0;
  li {
    list-style-type: none;
    margin-bottom: 12px;
    button {
      height: 54px;
      @include partials.unstyled-button();
      border: 1px solid colors.$generic-border-color;
    }
    &.current-credential>button {
      height: 56px;
      border: 2px solid black;
    }
  }
}

.credential-card {
  display: inline-block;
  height: 52px;
  text-align: left;
  margin-bottom: 0;
  color: black;
  font-family: "Source Sans Pro", sans-serif;
  background-color: white;

  .login-provider-icon {
    @include partials.login-provider-icon();
    width: 52px;
    height: 52px;
    float: left;
  }

  .name {
    line-height: 52px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    font-size: 14pt;
  }
}

.account-card {
  display: inline-block;
  position: relative;
  min-height: 52px;
  width: 218px;
  text-align: left;
  margin-bottom: 0;
  color: black;
  font-family: "Source Sans Pro", sans-serif;
  background-color: white;
  padding-top: 28px;
  padding-bottom: 4px;

  .picture {
    position: absolute;
    width: 36px;
    height: 36px;
    left: 8px;
    top: 8px;
    background-size: contain;
    background-repeat: no-repeat;
    display: inline-block;
   }

  .name {
    position: absolute;
    left: 55px;
    top: 8px;
    width: 150px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    height:30px;
    font-size: 10pt;
  }

  .intrinsic-name {
    &::before {
      color: #9E9E9E;
      font-size: 16px;
    }

    &[data-service-name=github] {
      @include icon-api.icon("github");
    }

    &[data-service-name=google] {
      @include icon-api.icon("google");
    }

    &[data-service-name=dev] {
      @include icon-api.icon("debug");
    }

    &[data-service-name=email] {
      @include icon-api.icon("email");
    }

    &[data-service-name=ldap] {
      @include icon-api.icon("ldap");
    }

    &[data-service-name=saml] {
      @include icon-api.icon("ldap");
    }

    margin-left: 55px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    font-size: 10pt;
    color: #777777;
  }
}
