.main-content>.account {
  .credentials-tabs {
    .login-buttons-list {
      width: 218px;
      margin-right: 7px;
      .troubleshooting, a[href="/about"] {
        display: none;
      }
    }
  }
}
