@use "icon-api";
@use "geometry-breakpoints" as breakpoints;
@use "partials-buttons" as buttons;

.main-content>.account {
  .credentials-tabs {
    .account-buttons {
      text-align: right;
    }

    button.account-button {
      @include buttons.button-base();
      @include buttons.button-secondary();
      @media #{breakpoints.$not-mobile-only} {
        margin-right: 7px;
      }

      @media #{breakpoints.$mobile-only} {
        flex: 1;
        &:not(:last-child) {
          margin-right: 8px;
        }
      }

      min-height: 30px;

      margin-bottom: 12px;

      &.link-new-credential {
        @include icon-api.icon("link");
        @include buttons.button-primary();
        &::before {
          font-size: 20px;
        }
      }

    }
  }
}
