.main-content>.account {
  .credentials-tabs {
    ul {
      li {
        .credential-card {
          display: static;
          height: auto;
          .login-provider-icon {
            width: 32px;
            height: 32px;
          }
          .name {
            line-height: 32px;
            font-size: 12pt;
          }
        }

        .credential-management-controls {
          div.toggle-login {
            padding-left: 8px;
            font-size: 9pt;
          }
          button.unlink-credential {
            position: absolute;
            right: 14px;
            top: 8px;
          }
        }
      }
    }
  }
}
