.credential-card-sign-in {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 400px;
  max-width: 100%;
  background-color: white;
  button.sign-in {
    border: none;
    border-top: 1px solid #ddd;
    width: 100%;
    background-color: transparent;
    cursor: pointer;
    text-align: left;
  }
  h4 {
    margin-bottom: 5px;
  }
  .light-border {
    border: 1px solid gray;
  }
}
