@use "colors-core" as core-colors;
@use "partials-buttons" as buttons;

ul.credential-card-list {
  padding-left: 0;
  li {
    list-style-type: none;
    margin-bottom: 12px;
    button {
      height: 54px;
      @include buttons.unstyled-button();
      border: 1px solid core-colors.$generic-border-color;
    }
    &.current-credential>button {
      height: 56px;
      border: 2px solid black;
    }
  }
}
