@use "partials-login-provider" as login-provider;

.credential-card {
  display: inline-block;
  height: 52px;
  text-align: left;
  margin-bottom: 0;
  color: black;
  font-family: "Source Sans Pro", sans-serif;
  background-color: white;

  .login-provider-icon {
    @include login-provider.login-provider-icon();
    width: 52px;
    height: 52px;
    float: left;
  }

  .name {
    line-height: 52px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    font-size: 14pt;
  }
}
