@use "mixins/buttons" as buttons;

.credential-management-controls {
  .login-credentials-of-linked-accounts {
    border: 1px solid gray;
    border-radius: 2px;
    padding: 10px;
    ul.unlinkable-credentials {
      list-style-type: none;
      padding: 0;
      li{
        position: relative;
        padding-bottom: 10px;
        .credential-card {
          border: 1px solid black;
        }
        button.unlink {
          @include buttons.button-base();
          @include buttons.button-secondary();
          position: absolute;
          left: 240px;
          top: 15px;
        }
      }
    }
    button.hide-other-accounts {
      @include buttons.button-base();
      @include buttons.button-secondary();
    }
  }
}
