@use "icon-api";
@use "colors";
@use "partials";

ul.credential-card-list {
  padding-left: 0;
  li {
    list-style-type: none;
    margin-bottom: 12px;
    button {
      height: 54px;
      @include partials.unstyled-button();
      border: 1px solid colors.$generic-border-color;
    }
    &.current-credential>button {
      height: 56px;
      border: 2px solid black;
    }
  }
}

.credential-card {
  display: inline-block;
  height: 52px;
  text-align: left;
  margin-bottom: 0;
  color: black;
  font-family: "Source Sans Pro", sans-serif;
  background-color: white;

  .login-provider-icon {
    @include partials.login-provider-icon();
    width: 52px;
    height: 52px;
    float: left;
  }

  .name {
    line-height: 52px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    font-size: 14pt;
  }
}

.account-card {
  display: inline-block;
  position: relative;
  min-height: 52px;
  width: 218px;
  text-align: left;
  margin-bottom: 0;
  color: black;
  font-family: "Source Sans Pro", sans-serif;
  background-color: white;
  padding-top: 28px;
  padding-bottom: 4px;

  .picture {
    position: absolute;
    width: 36px;
    height: 36px;
    left: 8px;
    top: 8px;
    background-size: contain;
    background-repeat: no-repeat;
    display: inline-block;
   }

  .name {
    position: absolute;
    left: 55px;
    top: 8px;
    width: 150px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    height:30px;
    font-size: 10pt;
  }

  .intrinsic-name {
    &::before {
      color: #9E9E9E;
      font-size: 16px;
    }

    &[data-service-name=github] {
      @include icon-api.icon("github");
    }

    &[data-service-name=google] {
      @include icon-api.icon("google");
    }

    &[data-service-name=dev] {
      @include icon-api.icon("debug");
    }

    &[data-service-name=email] {
      @include icon-api.icon("email");
    }

    &[data-service-name=ldap] {
      @include icon-api.icon("ldap");
    }

    &[data-service-name=saml] {
      @include icon-api.icon("ldap");
    }

    margin-left: 55px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    font-size: 10pt;
    color: #777777;
  }
}
