.credential-login-interstitial {
  z-index: 1;
  background-color: #efefef;
  div.centered-content{
    margin: auto;
    text-align: center;
    width: 400px;
    max-width: 100%;
    background-color: white;
    >.credential-card {
      width: 100%;
    }
    .warning-banner {
      padding: 10px;
      background-color: #b52931;
      color: white;
    }
  }
}
