@use "icon-api";

.account-card {
  .intrinsic-name {
    &::before {
      color: #9E9E9E;
      font-size: 16px;
    }

    &[data-service-name=github] {
      @include icon-api.icon("github");
    }

    &[data-service-name=google] {
      @include icon-api.icon("google");
    }

    &[data-service-name=dev] {
      @include icon-api.icon("debug");
    }

    &[data-service-name=email] {
      @include icon-api.icon("email");
    }

    &[data-service-name=ldap] {
      @include icon-api.icon("ldap");
    }

    &[data-service-name=saml] {
      @include icon-api.icon("ldap");
    }

    margin-left: 55px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    font-size: 10pt;
    color: #777777;
  }
}
