@use "icon-api";
@use "partials";

.credential-management-controls {
  .login-credentials-of-linked-accounts {
    border: 1px solid gray;
    border-radius: 2px;
    padding: 10px;
    ul.unlinkable-credentials {
      list-style-type: none;
      padding: 0;
      li{
        position: relative;
        padding-bottom: 10px;
        .credential-card {
          border: 1px solid black;
        }
        button.unlink {
          @include partials.button-base();
          @include partials.button-secondary();
          position: absolute;
          left: 240px;
          top: 15px;
        }
      }
    }
    button.hide-other-accounts {
      @include partials.button-base();
      @include partials.button-secondary();
    }
  }
  button.show-other-accounts {
    @include partials.button-base();
    @include partials.button-secondary();
  }
  button.unlink-credential {
    @include partials.button-base();
    @include partials.button-secondary();
    width: 80px;
    height: 30px;
    padding-left: 30px;

    position: relative;

    @include icon-api.icon("unlink");
    &::before {
      position: absolute;
      left: 5px;
      top: 2px;
      font-size: 24px;
    }
  }
}
