@use "partials";

.credential-login-interstitial {
  z-index: 1;
  background-color: #efefef;
  div.centered-content{
    margin: auto;
    text-align: center;
    width: 400px;
    max-width: 100%;
    background-color: white;
    >.credential-card {
      width: 100%;
    }
    .warning-banner {
      padding: 10px;
      background-color: #b52931;
      color: white;
    }
    ul {
      list-style-type: none;
      padding: 0;
      li.non-login-account {
        padding-top: 10px;
        margin-bottom: 10px;

        &:first-child {
          border-top: 1px solid #ddd;
        }
        border-bottom: 1px solid #ddd;
      }
      li {
        position: relative;
        padding-bottom: 10px;
        button.unlink {
          @include partials.button-base();
          @include partials.button-secondary();
          position: absolute;
          right: 25px;
          top: 10px;
        }
      }
    }
    button.danger {
      @include partials.button-base();
      @include partials.button-danger();
    }
    button.logout {
      @include partials.button-base();
      @include partials.button-primary();
    }
  }
}
