.account-card {
  display: inline-block;
  position: relative;
  min-height: 52px;
  width: 218px;
  text-align: left;
  margin-bottom: 0;
  color: black;
  font-family: "Source Sans Pro", sans-serif;
  background-color: white;
  padding-top: 28px;
  padding-bottom: 4px;

  .picture {
    position: absolute;
    width: 36px;
    height: 36px;
    left: 8px;
    top: 8px;
    background-size: contain;
    background-repeat: no-repeat;
    display: inline-block;
   }

  .name {
    position: absolute;
    left: 55px;
    top: 8px;
    width: 150px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    height:30px;
    font-size: 10pt;
  }
}
