@use "mixins/buttons" as buttons;

.credential-login-interstitial {
  div.centered-content{
    ul {
      list-style-type: none;
      padding: 0;
      li.non-login-account {
        padding-top: 10px;
        margin-bottom: 10px;

        &:first-child {
          border-top: 1px solid #ddd;
        }
        border-bottom: 1px solid #ddd;
      }
      li {
        position: relative;
        padding-bottom: 10px;
        button.unlink {
          @include buttons.button-base();
          @include buttons.button-secondary();
          position: absolute;
          right: 25px;
          top: 10px;
        }
      }
    }
  }
}
