.login-buttons-list {
  >a {
    line-height: 24px;
  }

  .login-button-form-submit { margin-top: 8px; }
  p.message {
    font-size: 80%;
    padding: 8px 16px;
    margin: 0;
    line-height: 1.3;
    background-color: white;
    border-bottom: 1px solid #c1c1c1;
  }
  .error-message { color: red; }
  .info-message { color: green; }
  .additional-link { font-size: 75%; }

  .accounts-close {
    position: absolute;
    top: 0;
    right: 5px;

    font-size: 20px;
    font-weight: bold;
    line-height: 20px;
    text-decoration: none;
    color: #000;
    opacity: 0.4;

    &:hover {
      opacity: 0.8;
    }
  }

  >.or {
    display: none;
  }
}
