@use "partials-buttons" as buttons;

.login-buttons-list {
  >form.login.dev, >button.login.dev {
    ul.dev-credentials {
      text-indent: 0;
      list-style-type: none;
      padding-left: 0;
      li {
        margin: 2px;
        width: auto;
        &.custom-name {
          display: flex;
          justify-content: space-between;
          input {
            width: 50%;
            display: inline-block;
          }
          button {
            @include buttons.button-base();
            @include buttons.button-secondary();
            width: 45%;
          }
        }
      }
    }
  }
}
