.login-buttons-list {
  >button.login, >form, >a {
    display: block;
    width: 100%;
    height: 32px;
    text-decoration: none;
    color: black;
    font-weight: normal;

    cursor: pointer;
    padding: 4px 8px;

    font-size: 80%;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    line-height: 1.5;

    text-align: left;
    text-indent: 40px;
    color: black;

    background: white;

    border: none;
    border-bottom: 1px solid #c1c1c1;
  }
}
