@use "colors";
@use "geometry";

@mixin navbar-desktop-frame () {
  position: fixed;
  top: geometry.$topbar-height-desktop;
  bottom: 0px;
  left: 0px;
  width: geometry.$navbar-width-desktop;
  background-color: #303030;
  color: #606060;
  overflow-y: auto;
  li {
    display: block;
    position: relative;
    border-bottom: 1px solid colors.$topbar-border-color;
    margin: 0;
    list-style-type: none;
  }
}
