@use "geometry";

.topbar-popup {
  >.frame-container {
    &.centered {
      @media #{geometry.$desktop} {
        margin: 0px auto;
        width: 600px;
        margin-left: calc(50% - 300px);
      }
    }
  }
}
