@use "geometry";

.topbar-popup {
  // Popup windows hang off the topbar, usually appearing when a topbar item is clicked.

  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 100000;

  @media #{geometry.$mobile} {
    // Gray the background on mobile.
    background-color: rgba(0, 0, 0, 0.5);
  }

  >.frame-container {
    max-height: calc(100vh - 64px);
    line-height: normal;
    white-space: normal;
    background-color: white;
    font-weight: normal;
    color: black;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.2);
    border-left: 1px solid #E0E0E0;
    border-right: 1px solid #E0E0E0;
    border-bottom: 1px solid #E0E0E0;

    >.frame {
      position: relative;
      overflow: hidden;  // prevent margin-collapse
      >.close-popup {
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        width: 32px;
        height: 32px;
        color: transparent;
        overflow: hidden;
        background-image: url("/close-m.svg");
        background-size: 20px 20px;
        background-repeat: no-repeat;
        background-position: center;
        border: none;
        border-radius: 16px;
        background-color: transparent;
        margin: 0;
      }

      >.close-popup:hover {
        background-color: #eee;
        cursor: pointer;
      }

      >h4 {
        width: 100%;
        margin: 0px;
        font-size: 14px;
        padding-left: geometry.$topbar-popup-padding;
        line-height: 32px;
        border-bottom: 1px solid #ccc;
        margin-bottom: 16px;

        @media #{geometry.$mobile} {
          font-size: 14pt;
        }
      }

      >* {
        margin-left: geometry.$topbar-popup-padding;
        margin-right: geometry.$topbar-popup-padding;
      }

      >*:last-child {
        margin-bottom: geometry.$topbar-popup-padding;
      }
    }

    @media #{geometry.$desktop} {
      // Adds a small white arrow pointing at the element this popup "descends" from.
      position: fixed;
      top: 32px;

      &::before {
        content: " ";
        position: absolute;
        top: -8px;

        width: 0;
        height: 0;
        border-left: 8px solid transparent;
        border-right: 8px solid transparent;
        border-bottom: 8px solid white;
      }

      &.align-left::before {
        left: 41px;
      }

      &.align-right::before {
        right: 41px;
      }
    }

    @media #{geometry.$mobile} {
      position: static;
      margin: 64px auto 32px;
      font-size: 20px;
      max-width: 90%;
      border: 1px solid #ccc;
      overflow-y: auto;
    }

    &.centered {
      @media #{geometry.$desktop} {
        margin: 0px auto;
        width: 600px;
        margin-left: calc(50% - 300px);
      }
    }
  }
}
