@use "colors/topbar" as topbar-colors;
@use "geometry/breakpoints" as breakpoints;

.sandstorm-topbar {
  >.menubar {
    >.notifications {
      @media #{breakpoints.$desktop} {
        float: right;
      }

      @media #{breakpoints.$mobile} {
        position: fixed;
        top: 0;
        right: 0;
        width: 48px;
        height: 49px;
        background-color: topbar-colors.$topbar-background-color; // needed to cover an overflowing title
        z-index: 3; /* above the title and rest of menu */
      }
    }
  }
}
