@use "geometry";

.topbar-popup {
  >.frame-container {
    >.frame {
      position: relative;
      overflow: hidden;  // prevent margin-collapse
      >.close-popup {
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        width: 32px;
        height: 32px;
        color: transparent;
        overflow: hidden;
        background-image: url("/close-m.svg");
        background-size: 20px 20px;
        background-repeat: no-repeat;
        background-position: center;
        border: none;
        border-radius: 16px;
        background-color: transparent;
        margin: 0;
      }

      >.close-popup:hover {
        background-color: #eee;
        cursor: pointer;
      }

      >h4 {
        width: 100%;
        margin: 0px;
        font-size: 14px;
        padding-left: geometry.$topbar-popup-padding;
        line-height: 32px;
        border-bottom: 1px solid #ccc;
        margin-bottom: 16px;

        @media #{geometry.$mobile} {
          font-size: 14pt;
        }
      }

      >* {
        margin-left: geometry.$topbar-popup-padding;
        margin-right: geometry.$topbar-popup-padding;
      }

      >*:last-child {
        margin-bottom: geometry.$topbar-popup-padding;
      }
    }
  }
}
