@use "geometry/breakpoints" as breakpoints;

.topbar-popup {
  >.frame-container {
    &.centered {
      @media #{breakpoints.$desktop} {
        margin: 0px auto;
        width: 600px;
        margin-left: calc(50% - 300px);
      }
    }
  }
}
