.sandstorm-topbar {
  >.navbar {
    >ul.navbar-grains {
      >li.navitem-grain {
        .notification-count {
          position: absolute;
          display: block;
          top: 16px;
          left: 28px;
          width: 16px;
          height: 16px;
          background-color: red;
          color: white;
          border-radius: 50%;
          z-index: 2;
          font-size: 12px;
          font-weight: bold;
          line-height: 16px;
          text-align: center;
        }
      }
    }
  }
}
