@use "sass:math";
@use "geometry";
@use "partials";

.sandstorm-topbar {
  >.navbar {
    >ul.navbar-grains {
      >li.navitem-grain {
        .app-icon {
          @include partials.pseudo-img-tag();
          position: absolute;
          top: 4px;
          left: math.div(geometry.$navbar-width-desktop-shrunk - 24px, 2);
          width: 24px;
          height: 24px;
          @media #{geometry.$mobile} {
            left: math.div(geometry.$navbar-width-desktop-shrunk - 40px, 2);
            width: 40px;
            height: 40px;
          }
        }
      }
    }
  }
}
