@use "geometry";

.sandstorm-topbar {
  >.menubar {
    >.admin-alert {
      @media #{geometry.$desktop} {
        float: right;
      }

      @media #{geometry.$mobile} {
        position: fixed;
        top: 0;
        right: 48px;
        width: 48px;
        height: 49px;
        text-align: center;
      }
    }
  }
}
