.topbar-popup {
  &.share>.frame-container>.frame, &.who-has-access>.frame-container>.frame {
    .label, .personal-message {
      width: 100%;
    }
    .personal-message {
      height: 100px;
    }
    .demo-mode-alert {
      color: #a94442;
      background-color: #f2dede;
      border-color: #ebccd1;
      padding: 5px;
      margin: 0;
      font-size: 10pt;
    }
    textarea.personal-message, input.emails, select.share-token-role {
      &[disabled=true] {
        background-color: #eaeaea;
      }
    }
  }
}
