@use "geometry/breakpoints" as breakpoints;

.sandstorm-topbar {
  @media #{breakpoints.$mobile} {
    line-height: 48px;
    height: 48px;
    // TODO(now): figure out if these colors should be different
    //background-color: #eee;
    //color: black;
    transition: height 0.2s;

    &.expanded {
      height: 100%;
      box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.2);
      // We avoid placing a z-index on the topbar when not expanded, lest modal dialogs
      // that don't live at the same depth in the DOM be made unable to cover the topbar.
      z-index: 100;
      overflow-y: auto;
    }
  }
}
