@use "colors-topbar" as topbar-colors;
@use "geometry-shell" as shell-geometry;

@mixin navbar-desktop-frame () {
  position: fixed;
  top: shell-geometry.$topbar-height-desktop;
  bottom: 0px;
  left: 0px;
  width: shell-geometry.$navbar-width-desktop;
  background-color: #303030;
  color: #606060;
  overflow-y: auto;
  li {
    display: block;
    position: relative;
    border-bottom: 1px solid topbar-colors.$topbar-border-color;
    margin: 0;
    list-style-type: none;
  }
}
