@use "colors";
@use "geometry";
@use "partials";

@mixin webfont-icon ($color, $mobile-color, $font-size, $mobile-font-size) {
  text-align: center;
  &:before {
    font-size: $font-size;
    color: $color;
    font-family: "icons";

    @media #{geometry.$mobile} {
      font-size: $mobile-font-size;
      color: $mobile-color;
    }
  }
}

@mixin topbar-button () {
  // Common styling for buttons in the topbar (on desktop).

  @include partials.unstyled-button();

  @media #{geometry.$desktop} {
    display: block;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;

    &:hover {
      background-color: colors.$topbar-background-color-hover;
    }
  }
}

@mixin icon-button () {
  // Common styling for topbar buttons that are displayed as a bare icon with no text label
  // (on desktop).

  @include topbar-button();

  @media #{geometry.$desktop} {
    background-position: center;
    background-repeat: no-repeat;
    background-size: 24px 24px;
    color: transparent;  // hide text
    width: 32px;
    height: 32px;
    position: relative;
  }
}

@mixin mobile-icon-button () {
  // Common styling for topbar buttons that are displayed as a bare icon with no text label
  // (on mobile).

  @include partials.unstyled-button();

  @media #{geometry.$mobile} {
    display: block;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 40px 40px;
    color: transparent;  // hide text
    width: 48px;
    height: 48px;

    &:hover {
      background-color: colors.$topbar-background-color-hover;
    }
  }
}

@mixin hamburger-menu-item () {
  // Common styling for topbar items that are displayed as a hamburger menu item on mobile.
  @media #{geometry.$desktop} {
    height: geometry.$topbar-height-desktop;
  }

  @media #{geometry.$mobile} {
    display: block;
    width: 100%;
    background-position: 8px center;
    background-size: 32px 32px;
    background-repeat: no-repeat;
    background-color: transparent;
    text-align: left;
    padding-left: 48px;
    font-size: 14pt;
    height: geometry.$topbar-height-mobile;
    font-weight: normal;
    text-decoration: none;

    &:hover {
      background-color: colors.$topbar-background-color-hover;
    }
  }
}
