@use "geometry-breakpoints" as breakpoints;

.topbar-popup {
  >.frame-container {
    @media #{breakpoints.$mobile} {
      position: static;
      margin: 64px auto 32px;
      font-size: 20px;
      max-width: 90%;
      border: 1px solid #ccc;
      overflow-y: auto;
    }
  }
}
