@use "colors";
@use "geometry";
@use "partials";

.sandstorm-topbar {
  .demo-notice {
    width: 100%;
    overflow: hidden;

    p {
      color: white;
      padding: 8px;
      margin: 0;
      margin-bottom: 8px;
      line-height: normal;
      font-size: 14px;
      transition: font-size 0.2s;

      a.get-sandstorm-button {
        margin-top: 6px;
        display: block;
        @include partials.button-base();
        background-color: #606060;
        color: white;
        &:hover {
          background-color: #717171;
        }
      }
    }

    button {
      display: block;
      width: 100%;
      text-align: center;
      margin-top: 6px;
      margin-bottom: 4px;
    }

    .subtext {
      font-size: 12px;
      color: colors.$topbar-foreground-color;
    }
  }

  .demo-timer {
    p {
      margin: 0;
      padding: 4px;
      color: colors.$topbar-foreground-color;
      font-size: 14px;
    }
  }

  .countdown {
    display: block;
    font-size: 30px;
    font-weight: bold;
    color: #a0a0a0;
    text-align: center;
    border: 1px solid colors.$topbar-foreground-color;
    border-radius: 4px;

    &.urgent {
      color: #f00;
    }
  }
}

.sandstorm-topbar .share {
  @media #{geometry.$mobile} {
    margin-top: 48px;
  }
}
