.topbar-popup {
  &.notifications {
    ul.notification-list {
      .notification-item {
        >p {
          white-space: pre;
          margin: 0px;
        }

        .app-updates {
          list-style-type: none;
          padding: 0px;
        }
      }
    }
  }
}
