@use "sass:math";
@use "colors";
@use "geometry";

.sandstorm-topbar {
  >.navbar {
    @media #{geometry.$desktop} {
      position: fixed;
      top: geometry.$topbar-height-desktop;
      bottom: 0px;
      left: 0px;
      width: geometry.$navbar-width-desktop;
      background-color: #303030;
      color: #606060;
      overflow-y: auto;
      li {
        display: block;
        position: relative;
        border-bottom: 1px solid colors.$topbar-border-color;
        margin: 0;
        list-style-type: none;

        &.navitem-open-grain, &.navitem-create-grain, &.navitem-grain {
          a {
            display: block;
            min-height: 32px;
            padding-left: geometry.$navbar-width-desktop-shrunk;
            text-decoration: none;
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap;
            &, &:visited, &:active, &:hover {
              color: inherit;
            }
          }
        }
        &.navitem-grain {
          line-height: 32px;
          height: 32px;
        }
        &.navitem-open-grain, &.navitem-create-grain {
          display: block;
          position: relative;
          background-repeat: no-repeat;
          background-position: math.div(geometry.$navbar-width-desktop-shrunk - 24px, 2) center;
          background-size: 24px 24px;
          font-size: 150%;
          line-height: 48px;
          height: 48px;
          background-color: colors.$topbar-background-color;
          color: colors.$topbar-foreground-color;
          &:hover {
            background-color: colors.$topbar-background-color-hover;
            color: colors.$topbar-foreground-color-hover;
          }
          &.current, &.current:hover {
            background-color: colors.$topbar-background-color-active;
            color: colors.$topbar-foreground-color-active;
          }
        }
        &.navitem-open-grain {
          background-image: url('/open-grain.svg');
          &.current, &.current:hover {
            background-image: url('/open-grain-m.svg');
          }
          border-bottom: none;
        }
        &.navitem-create-grain {
          background-image: url('/apps.svg');
          &.current, &.current:hover {
            background-image: url('/apps-m.svg');
          }
        }
        &.navbar-shrink-item {
          border: none;
          height: auto;
          width: auto;
        }
        &.navitem-demo-timer {
          position: absolute;
          bottom: 0;
          height: auto;
          width: 100%;
        }
      }
    }
  }
}
