@use "colors/topbar" as topbar-colors;

.sandstorm-topbar {
  .demo-timer {
    p {
      margin: 0;
      padding: 4px;
      color: topbar-colors.$topbar-foreground-color;
      font-size: 14px;
    }
  }

  .countdown {
    display: block;
    font-size: 30px;
    font-weight: bold;
    color: #a0a0a0;
    text-align: center;
    border: 1px solid topbar-colors.$topbar-foreground-color;
    border-radius: 4px;

    &.urgent {
      color: #f00;
    }
  }
}
