@use "geometry";
@use "partials";

.topbar-popup {
  &.share>.frame-container>.frame, &.who-has-access>.frame-container>.frame {
    $popup-background-color: #ededed;

    button.reset-invite, button.reset-share-token, button.start-over-invite {
      @include partials.unstyled-button();
      border: 1px solid #ccc;
      border-radius: 4px;
      padding: 5px 16px;
      font-size: 10pt;
      text-transform: uppercase;
    }

    .button-container {
      display: flex;
      justify-content: space-between;
      margin-top: 10px;
    }
    .share-tabs form button {
      @include partials.button-base();
      @include partials.button-primary();
      border: 1px solid #ccc;
      border-radius: 4px;
      padding: 5px 16px;
      font-size: 10pt;
      text-transform: uppercase;
      margin-left: auto;
    }
    .share-token-role {
      width: 40%;
    }
    table .share-token-role {
      max-width: 160px;
    }
    div.tables-container {
      position: relative;
      overflow-y: auto;
      overflow-x: hidden; // A vertical scrollbar can cause horizontal overflow.
      max-height: calc(100vh - 130px);
      // HACK. This should be computed from the max-height of the containing div. Is that even
      // possible?
    }
    table.people, table.shared-links, table.grains {
      border: 1px solid #ddd;
      border-right: none;
      border-left: none;
      font-size: 10pt;
      width: 100%;
      border-collapse: collapse;
      tr {
        border-bottom: 1px solid #ddd;
      }
      ul {
         margin: 0;
      }
    }
    [data-obsolete=true] {
      display: none;
    }

    select {
      background-color: white;
      height: 25px;
      text-transform: uppercase;
      float: right;
    }
    input, textarea, select {
      border: 1px solid #aaa;
      padding: 4px;
      border-radius: 2px;
      vertical-align: top;
    }

    .label, .personal-message {
      width: 100%;
    }
    .personal-message {
      height: 100px;
    }
    .demo-mode-alert {
      color: #a94442;
      background-color: #f2dede;
      border-color: #ebccd1;
      padding: 5px;
      margin: 0;
      font-size: 10pt;
    }
    textarea.personal-message, input.emails, select.share-token-role {
      &[disabled=true] {
        background-color: #eaeaea;
      }
    }

    .invitation-explanation {
      max-width: 80%;
      overflow: hidden;
      text-overflow: ellipsis;
    }
    .invitation-explanation, .label-explanation {
      font-size: 8pt;
      font-style: italic;
    }

    .icon-people {
      font-size: 20px;
    }

    >.footer {
      width: 100%;
      background-color: $popup-background-color;
      border-top: 1px solid #ccc;
      margin: 0px;
      padding-top: 5px;
      padding-bottom: geometry.$topbar-popup-padding;
      text-align: right;
      font-size: 10pt;
      >.who-has-access {
        margin-right: 15px;
      }
    }
  }
}
