@use "geometry/breakpoints" as breakpoints;

.topbar-popup {
  >.frame-container {
    @media #{breakpoints.$desktop} {
      // Adds a small white arrow pointing at the element this popup "descends" from.
      position: fixed;
      top: 32px;

      &::before {
        content: " ";
        position: absolute;
        top: -8px;

        width: 0;
        height: 0;
        border-left: 8px solid transparent;
        border-right: 8px solid transparent;
        border-bottom: 8px solid white;
      }

      &.align-left::before {
        left: 41px;
      }

      &.align-right::before {
        right: 41px;
      }
    }
  }
}
