@use "sass:math";
@use "geometry-breakpoints" as breakpoints;
@use "geometry-shell" as shell-geometry;
@use "partials-media" as media;

.sandstorm-topbar {
  >.navbar {
    >ul.navbar-grains {
      >li.navitem-grain {
        .app-icon {
          @include media.pseudo-img-tag();
          position: absolute;
          top: 4px;
          left: math.div(shell-geometry.$navbar-width-desktop-shrunk - 24px, 2);
          width: 24px;
          height: 24px;
          @media #{breakpoints.$mobile} {
            left: math.div(shell-geometry.$navbar-width-desktop-shrunk - 40px, 2);
            width: 40px;
            height: 40px;
          }
        }
      }
    }
  }
}
