@use "colors";
@use "geometry";

.sandstorm-topbar {
  >.menubar {
    >.title {
      padding-left: 8px;
      overflow: hidden;
      @media #{geometry.$desktop} {
        // Heuristically try to prevent the title from bumping everything else off the top bar.
        // The size of 700px was empirically found to provide enough space for "everything else".
        max-width: calc(100% - 700px);
        border-left: 1px solid #666;
      }
      @media #{geometry.$mobile} {
        width: 100%; // needs to span the whole row because the border-bottom is needed to draw
                     // the horizontal rule when the menu is expanded
        background-color: colors.$topbar-background-color;
        color: colors.$topbar-foreground-color;
        padding-left: 56px;
        font-size: 120%;
        position: fixed;
        z-index: 1;
      }

      >div.editable {
        white-space: nowrap;
        text-overflow: ellipsis;  // Doesn't seem to work since size is dynamic. Left here in vain.
        overflow: hidden;
        display: inline-block;
        padding: 0 8px;
        margin-left: -8px;
        @media #{geometry.$desktop} {
          min-height: geometry.$topbar-height-desktop;
        }
        @media #{geometry.$mobile} {
          min-height: geometry.$topbar-height-mobile;
          max-width: calc(100% - 150px);
        }

        &:hover {
          cursor: pointer;
          color: colors.$topbar-foreground-color-hover;
          background-color: colors.$topbar-background-color-hover;
        }

        .main-title {
          height: geometry.$topbar-height-desktop - 8px;
          line-height: geometry.$topbar-height-desktop - 8px;
          @media #{geometry.$mobile} {
            height: geometry.$topbar-height-mobile - 12px;
            line-height: geometry.$topbar-height-mobile - 12px;
          }
        }

        .subtitle {
          color: #9b9b9b;
          height: 10px;
          line-height: 10px;
          font-size: 10px;
          margin-top: -4px;

          @media #{geometry.$mobile} {
            height: 12px;
            line-height: 12px;
            font-size: 12px;
            margin-top: -4px;
          }
        }
      }
    }
  }
}
