@use "colors";
@use "geometry";
@use "topbar-primitives";

.sandstorm-topbar {
  >.menubar {
    >.notifications {
      @media #{geometry.$desktop} {
        float: right;
      }

      @media #{geometry.$mobile} {
        position: fixed;
        top: 0;
        right: 0;
        width: 48px;
        height: 49px;
        background-color: colors.$topbar-background-color; // needed to cover an overflowing title
        z-index: 3; /* above the title and rest of menu */
      }

      >button.show-popup {
        @include topbar-primitives.icon-button();
        @include topbar-primitives.mobile-icon-button();

        @include topbar-primitives.webfont-icon(#CCCCCC, #CCCCCC, 24px, 40px);

        >.count {
          display: block;
          position: absolute;
          top: 16px;
          left: 16px;
          width: 16px;
          height: 16px;
          background-color: red;
          border-radius: 8px;
          color: white;
          line-height: 16px;
          text-align: center;
          font-size: 8pt;

          @media #{geometry.$mobile} {
            top: 24px;
            left: 24px;
          }
        }
      }
    }
  }
}
