@use "partials";

.topbar-popup {
  &.share>.frame-container>.frame, &.who-has-access>.frame-container>.frame {
    button.reset-invite, button.reset-share-token, button.start-over-invite {
      @include partials.unstyled-button();
      border: 1px solid #ccc;
      border-radius: 4px;
      padding: 5px 16px;
      font-size: 10pt;
      text-transform: uppercase;
    }

    .button-container {
      display: flex;
      justify-content: space-between;
      margin-top: 10px;
    }
    .share-tabs form button {
      @include partials.button-base();
      @include partials.button-primary();
      border: 1px solid #ccc;
      border-radius: 4px;
      padding: 5px 16px;
      font-size: 10pt;
      text-transform: uppercase;
      margin-left: auto;
    }
  }
}
