@use "sass:color";
@use "colors-core" as core-colors;

.topbar-popup {
  &.share {
    .contact-box {
      >ul.completed-contacts {
        >li {
          &:focus, &:hover:focus {
            cursor: default;
            .closer {
              float: right;
              width: 16px;
              height: 16px;
              color: transparent;
              overflow: hidden;
              background-image: url("/close-m.svg");
              background-size: 12px 12px;
              background-repeat: no-repeat;
              background-position: center;
              border: none;
              border-radius: 8px;
              background-color: transparent;
              margin: 0px 0px 0px 4px;

              &:hover {
                background-color: #eee;
                cursor: pointer;
              }
            }
            background-color: color.adjust(core-colors.$sandstorm-purple-color, $lightness: 30%);
          }
        }
      }
    }
  }
}
