@use "sass:math";
@use "colors";
@use "geometry";
@use "partials";

.sandstorm-topbar {
  >.navbar {
    >ul.navbar-grains {
      margin: 0;
      padding: 0;
      bottom: 0px;
      left: 0px;
      width: 100%;
      //height: 100%; // TODO: fix this, it should be 100% - (height of Open + New)
      overflow-y: auto;
      >li.navitem-grain {
        a {
          padding-right: 32px;
          transition: padding-right 0.2s;

          // Stack above .app-icon so the icon doesn't block clicks.
          position: relative;
          z-index: 1;
        }
        background-color: colors.$topbar-background-color;
        color: colors.$topbar-foreground-color;
        &:hover {
          background-color: colors.$topbar-background-color-hover;
          color: colors.$topbar-foreground-color-hover;
        }
        &.unread {
          background-color: colors.$topbar-background-color-unread;
          color: colors.$topbar-foreground-color-unread;
        }
        &.unread:hover {
          background-color: colors.$topbar-background-color-unread-hover;
        }
        &.current, &.current:hover {
          background-color: colors.$topbar-background-color-active;
          color: colors.$topbar-foreground-color-active;
        }
        .app-icon {
          @include partials.pseudo-img-tag();
          position: absolute;
          top: 4px;
          left: math.div(geometry.$navbar-width-desktop-shrunk - 24px, 2);
          width: 24px;
          height: 24px;
          @media #{geometry.$mobile} {
            left: math.div(geometry.$navbar-width-desktop-shrunk - 40px, 2);
            width: 40px;
            height: 40px;
          }
        }
        .notification-count {
          position: absolute;
          display: block;
          top: 16px;
          left: 28px;
          width: 16px;
          height: 16px;
          background-color: red;
          color: white;
          border-radius: 50%;
          z-index: 2;
          font-size: 12px;
          font-weight: bold;
          line-height: 16px;
          text-align: center;
        }
        .close-button {
          @include partials.unstyled-button();
          @include partials.pseudo-img-tag();
          position: absolute;
          top: 1px;
          right: 0px;
          width: 24px;
          height: 24px;
          @media #{geometry.$mobile} {
            height: 40px;
            width: 40px;
          }
          margin: 2px;
          display: block;
          background-image: url("/close.svg");
          border: 1px solid transparent;
          border-radius: 4px;
          &:hover {
            border: 1px solid colors.$topbar-foreground-color-hover;
          }
          z-index: 2;  // Stack above <a>.
        }
      }
    }
  }
}
