@use "icon-api";
@use "sass:color";
@use "colors";
@use "geometry";
@use "partials";

.topbar-popup {
  &.share {
    .contact-box {
      position: relative;
      display: inline-block;
      width: 320px;
      border: 1px solid #e4e4e4;
      >ul.completed-contacts {
        list-style: outside none none;
        padding: 0px;
        display: inline;
        >li {
          display: inline-block;
          background-color: colors.$sandstorm-purple-color;
          color: white;
          border-radius: 8px;
          padding: 2px 4px;
          border: 1px solid #e4e4e4;
          cursor: pointer;
          position: relative;

          &:focus, &:hover:focus {
            cursor: default;
            .closer {
              float: right;
              width: 16px;
              height: 16px;
              color: transparent;
              overflow: hidden;
              background-image: url("/close-m.svg");
              background-size: 12px 12px;
              background-repeat: no-repeat;
              background-position: center;
              border: none;
              border-radius: 8px;
              background-color: transparent;
              margin: 0px 0px 0px 4px;

              &:hover {
                background-color: #eee;
                cursor: pointer;
              }
            }
            background-color: color.adjust(colors.$sandstorm-purple-color, $lightness: 30%);
          }
          &:hover {
            background-color: color.adjust(colors.$sandstorm-purple-color, $lightness: -10%);
          }
          .picture {
            width: 14px;
            height: 14px;
            background-size: contain;
            background-repeat: no-repeat;
            display: inline-block;
            margin-right: 4px;
           }
        }
      }
      >ul.autocomplete-suggestions {
        position: absolute;
        width: 328px;
        display: block;
        background: white;
        z-index: 1;
        border: 1px solid #e4e4e4;

        list-style: outside none none;
        padding: 0px;
        margin: 2px 0px;
        overflow-y: auto;
        max-height: 200px;
        >li {
          display: block;
          border: 1px solid rgba(0, 0, 0, 0);
          border-bottom: 1px solid #e4e4e4;
          cursor: pointer;

          &.selected {
            border: colors.$focus-outline-color solid 1px;
          }
          &:hover {
            background-color: #999;
            .account-card {
              background-color: inherit;
            }
          }

          .account-card {
            width: 100%;
          }
        }
      }

      input.emails {
        border: 0px;
        outline: 0px;
        width: 100%;
      }
      &.active {
        outline: colors.$focus-outline-color solid 1px;
      }
    }
  }

  &.share>.frame-container {
    width: 400px;
  }
  &.webkey>.frame-container {
    width: 450px;
  }

  &.share>.frame-container>.frame, &.who-has-access>.frame-container>.frame {
    $popup-background-color: #ededed;

    >h4 {
      text-transform: uppercase;
      background-color: $popup-background-color;
      margin-bottom: 0;
      padding: geometry.$topbar-popup-padding 20px;
    }

    >h4.share-with-others {
      border-bottom: none;
      padding-bottom: 30px;
    }
    >h4.who-has-access {
      padding-bottom: geometry.$topbar-popup-padding;
      border-bottom: 1px solid #ccc;
    }

    button.who-has-access {
      @include partials.unstyled-button();
    }

    .share-tabs {
      width: 100%;
      padding: geometry.$topbar-popup-padding;
      border-top: 1px solid #ccc;
      position: relative;
      margin: 0;
      >ul {
        list-style: none;
        >li {
          border-top-left-radius: 4px;
          border-top-right-radius: 4px;
          background-color: #f7f7f7;
          border: 1px solid #ccc;
          border-bottom: none;
          position: absolute;
          margin: 0;
          padding: 3px;
          width: 45%;
          text-align: left;
          font-size: 14px; // Size must be the same on mobile and desktop for correct absolute position.
          top: -26px;
          height: 25px;
          background-position: 15px 2px, left;
          background-size: 20px, 20px;
          background-repeat: no-repeat;
          cursor: pointer;
          &:focus {
            outline: colors.$focus-outline-color solid 1px;
          }
        }
        .send-invite-tab-header {
          left: 2%;
          @include icon-api.icon("email");

          &::before {
            font-size: 18px;
            padding: 0 8px 2px 12px;
          }
        }
        .shareable-link-tab-header {
          right: 2%;
          @include icon-api.icon("link");

          &::before {
            font-size: 20px;
            padding: 0 8px 2px 12px;
          }
        }
        [aria-selected=true] {
          background-color: white;
          border-bottom: 1px solid white;
          height: 26px;
        }
      }
      >div.tabpanel {
        margin-left: 16px;
        margin-right: 16px;
        &[aria-hidden=true] {
          display: none;
        }
      }
    }

    button.reset-invite, button.reset-share-token, button.start-over-invite {
      @include partials.unstyled-button();
      border: 1px solid #ccc;
      border-radius: 4px;
      padding: 5px 16px;
      font-size: 10pt;
      text-transform: uppercase;
    }

    .button-container {
      display: flex;
      justify-content: space-between;
      margin-top: 10px;
    }
    .share-tabs form button {
      @include partials.button-base();
      @include partials.button-primary();
      border: 1px solid #ccc;
      border-radius: 4px;
      padding: 5px 16px;
      font-size: 10pt;
      text-transform: uppercase;
      margin-left: auto;
    }
    .share-token-role {
      width: 40%;
    }
    table .share-token-role {
      max-width: 160px;
    }
    div.tables-container {
      position: relative;
      overflow-y: auto;
      overflow-x: hidden; // A vertical scrollbar can cause horizontal overflow.
      max-height: calc(100vh - 130px);
      // HACK. This should be computed from the max-height of the containing div. Is that even
      // possible?
    }
    table.people, table.shared-links, table.grains {
      border: 1px solid #ddd;
      border-right: none;
      border-left: none;
      font-size: 10pt;
      width: 100%;
      border-collapse: collapse;
      tr {
        border-bottom: 1px solid #ddd;
      }
      ul {
         margin: 0;
      }
    }
    [data-obsolete=true] {
      display: none;
    }

    select {
      background-color: white;
      height: 25px;
      text-transform: uppercase;
      float: right;
    }
    input, textarea, select {
      border: 1px solid #aaa;
      padding: 4px;
      border-radius: 2px;
      vertical-align: top;
    }

    .label, .personal-message {
      width: 100%;
    }
    .personal-message {
      height: 100px;
    }
    .demo-mode-alert {
      color: #a94442;
      background-color: #f2dede;
      border-color: #ebccd1;
      padding: 5px;
      margin: 0;
      font-size: 10pt;
    }
    textarea.personal-message, input.emails, select.share-token-role {
      &[disabled=true] {
        background-color: #eaeaea;
      }
    }

    .invitation-explanation {
      max-width: 80%;
      overflow: hidden;
      text-overflow: ellipsis;
    }
    .invitation-explanation, .label-explanation {
      font-size: 8pt;
      font-style: italic;
    }

    .icon-people {
      font-size: 20px;
    }

    >.footer {
      width: 100%;
      background-color: $popup-background-color;
      border-top: 1px solid #ccc;
      margin: 0px;
      padding-top: 5px;
      padding-bottom: geometry.$topbar-popup-padding;
      text-align: right;
      font-size: 10pt;
      >.who-has-access {
        margin-right: 15px;
      }
    }
  }
}
