@use "colors";

.topbar-popup {
  &.share {
    .contact-box {
      >ul.autocomplete-suggestions {
        position: absolute;
        width: 328px;
        display: block;
        background: white;
        z-index: 1;
        border: 1px solid #e4e4e4;

        list-style: outside none none;
        padding: 0px;
        margin: 2px 0px;
        overflow-y: auto;
        max-height: 200px;
        >li {
          display: block;
          border: 1px solid rgba(0, 0, 0, 0);
          border-bottom: 1px solid #e4e4e4;
          cursor: pointer;

          &.selected {
            border: colors.$focus-outline-color solid 1px;
          }
          &:hover {
            background-color: #999;
            .account-card {
              background-color: inherit;
            }
          }

          .account-card {
            width: 100%;
          }
        }
      }
    }
  }
}
