@use "geometry/breakpoints" as breakpoints;
@use "topbar-primitives";

.sandstorm-topbar {
  >.menubar {
    >.account, >.login {
      >button.show-popup {
        @include topbar-primitives.hamburger-menu-item();
        position: relative;
        >.profile-picture {
          position: absolute;
          display: block;
          background-size: contain;
          background-repeat: no-repeat;
          background-position: center;
          @media #{breakpoints.$desktop} {
            width: 24px;
            height: 24px;
            top: 4px;
            left: 4px;
          }
          @media #{breakpoints.$mobile} {
            width: 32px;
            height: 32px;
            left: 8px;
            top: 8px;
          }
        }
      }
    }
  }
}
