@use "icon-api";
@use "colors";
@use "geometry";
@use "partials";
@use "topbar-primitives";

body>.topbar {
  >.menubar {
    padding-left: 0;
    margin-left: 0;
    border-bottom: 1px solid colors.$topbar-border-color;
    overflow: hidden;
    @media #{geometry.$desktop} {
      height: geometry.$topbar-height-desktop;
      &.shrink-desktop {
        >.home-button {
          width: geometry.$navbar-width-desktop-shrunk;
          >a {
            width: geometry.$navbar-width-desktop-shrunk;
            padding-right: 0;
          }
        }
      }
    }

    >.home-button {
      @media #{geometry.$desktop} {
        width: geometry.$navbar-width-desktop;
        transition: width 0.2s;
        float:left;
        overflow: hidden;

        >a {
          @include partials.overflow-ellipsis();
          color: inherit;
          margin: 0px;
          text-decoration: none;
          height: geometry.$topbar-height-desktop;
          padding-left: geometry.$navbar-width-desktop-shrunk;
          padding-right: 8px;

          background-image: url("/icon.png");
          background-repeat: no-repeat;
          background-position: 16px center, 6px 24px;
          background-size: auto, 16px 8px;

          &:hover {
            background-color: colors.$topbar-background-color-hover;
            color: colors.$topbar-foreground-color-hover;
          }
        }
      }

      @media #{geometry.$mobile} {
        // Hide home link -- it's not very useful anyway.
        display: none;
      }
    }

    >.title {
      padding-left: 8px;
      overflow: hidden;
      @media #{geometry.$desktop} {
        // Heuristically try to prevent the title from bumping everything else off the top bar.
        // The size of 700px was empirically found to provide enough space for "everything else".
        max-width: calc(100% - 700px);
        border-left: 1px solid #666;
      }
      @media #{geometry.$mobile} {
        width: 100%; // needs to span the whole row because the border-bottom is needed to draw
                     // the horizontal rule when the menu is expanded
        background-color: colors.$topbar-background-color;
        color: colors.$topbar-foreground-color;
        padding-left: 56px;
        font-size: 120%;
        position: fixed;
        z-index: 1;
      }

      >div.editable {
        white-space: nowrap;
        text-overflow: ellipsis;  // Doesn't seem to work since size is dynamic. Left here in vain.
        overflow: hidden;
        display: inline-block;
        padding: 0 8px;
        margin-left: -8px;
        @media #{geometry.$desktop} {
          min-height: geometry.$topbar-height-desktop;
        }
        @media #{geometry.$mobile} {
          min-height: geometry.$topbar-height-mobile;
          max-width: calc(100% - 150px);
        }

        &:hover {
          cursor: pointer;
          color: colors.$topbar-foreground-color-hover;
          background-color: colors.$topbar-background-color-hover;
        }

        .main-title {
          height: geometry.$topbar-height-desktop - 8px;
          line-height: geometry.$topbar-height-desktop - 8px;
          @media #{geometry.$mobile} {
            height: geometry.$topbar-height-mobile - 12px;
            line-height: geometry.$topbar-height-mobile - 12px;
          }
        }

        .subtitle {
          color: #9b9b9b;
          height: 10px;
          line-height: 10px;
          font-size: 10px;
          margin-top: -4px;

          @media #{geometry.$mobile} {
            height: 12px;
            line-height: 12px;
            font-size: 12px;
            margin-top: -4px;
          }
        }
      }
    }

    >.grain-size {
      @media #{geometry.$mobile} {
        display: none;
      }
    }

    >.share>button.show-popup {
      @include topbar-primitives.topbar-button();
      @include topbar-primitives.hamburger-menu-item();

      @include icon-api.icon("share");

      @media #{geometry.$desktop} {
        background-position: 2px center;
        color: #cccccc; // Have the text match the icon.
                        // This is the single place the button text is visible.
        padding-left: 8px;
        padding-right: 8px;
        height: 32px;
        line-height: 32px;
        font-size: 12pt;
        &::before {
          font-size: 32px;
          vertical-align: top;
        }
      }
      @media #{geometry.$mobile} {
        background-position: 10px center;
        position: relative;
        &::before {
          position: absolute;
          left: 8px;
          top: 8px;
          font-size: 32px;
        }
      }
    }

    // Buttons for misc grain actions.
    >li>button.grain-button, >.webkey>button.show-popup {
      @include topbar-primitives.icon-button();
      @include topbar-primitives.hamburger-menu-item();
    }
    >.delete>button    { background-image: url("/trash.svg"); }
    >.debug-log>button { background-image: url("/debug.svg"); }
    >.backup>button    { background-image: url("/download.svg"); }
    >.clone>button     { background-image: url("/copy.svg"); }
    >.restart>button   { background-image: url("/restart.svg"); }
    >.settings>button  { background-image: url("/settings.svg"); }
    >.webkey>button    { background-image: url("/key.svg"); }
    >.who-has-access img { width: 20px; }

    >.admin-alert {
      @media #{geometry.$desktop} {
        float: right;
      }

      @media #{geometry.$mobile} {
        position: fixed;
        top: 0;
        right: 48px;
        width: 48px;
        height: 49px;
        text-align: center;
      }

      >button.show-popup {
        @include topbar-primitives.icon-button();
        @include topbar-primitives.mobile-icon-button();
      }

      .alert {
        background-color: colors.$sandstorm-purple-color;
        color: white;
        text-decoration: none;

        display: inline-block;
        padding-left: 8px;
        padding-right: 8px;
        margin-right: 8px;
      }

      .alert.countdown-second,
      .alert.countdown-now {
        // Turn red when there's less than a minute left.
        background-color: #e82538;
      }

      a:hover {
        background-color: #9d3aa5;
      }
    }

    >.notifications {
      @media #{geometry.$desktop} {
        float: right;
      }

      @media #{geometry.$mobile} {
        position: fixed;
        top: 0;
        right: 0;
        width: 48px;
        height: 49px;
        background-color: colors.$topbar-background-color; // needed to cover an overflowing title
        z-index: 3; /* above the title and rest of menu */
      }

      >button.show-popup {
        @include topbar-primitives.icon-button();
        @include topbar-primitives.mobile-icon-button();

        @include topbar-primitives.webfont-icon(#CCCCCC, #CCCCCC, 24px, 40px);

        >.count {
          display: block;
          position: absolute;
          top: 16px;
          left: 16px;
          width: 16px;
          height: 16px;
          background-color: red;
          border-radius: 8px;
          color: white;
          line-height: 16px;
          text-align: center;
          font-size: 8pt;

          @media #{geometry.$mobile} {
            top: 24px;
            left: 24px;
          }
        }
      }
    }

    >.account, >.login {
      >button.show-popup {
        @include topbar-primitives.hamburger-menu-item();
        position: relative;
        >.profile-picture {
          position: absolute;
          display: block;
          background-size: contain;
          background-repeat: no-repeat;
          background-position: center;
          @media #{geometry.$desktop} {
            width: 24px;
            height: 24px;
            top: 4px;
            left: 4px;
          }
          @media #{geometry.$mobile} {
            width: 32px;
            height: 32px;
            left: 8px;
            top: 8px;
          }
        }
      }

      @media #{geometry.$desktop} {
        float: right;
        display: block;

        >button.show-popup {
          padding-left: 8px;
          padding-right: 8px;
          display: block;
          &.has-picture {
            padding-left: 32px;
          }
        }
      }

      @media #{geometry.$mobile} {
        >button.show-popup {
          font-weight: normal;
        }
      }
    }
  }
}
