@use "colors/topbar" as topbar-colors;
@use "geometry/breakpoints" as breakpoints;
@use "mixins/media" as media;
@use "mixins/buttons" as buttons;

.sandstorm-topbar {
  >.navbar {
    >ul.navbar-grains {
      >li.navitem-grain {
        .close-button {
          @include buttons.unstyled-button();
          @include media.pseudo-img-tag();
          position: absolute;
          top: 1px;
          right: 0px;
          width: 24px;
          height: 24px;
          @media #{breakpoints.$mobile} {
            height: 40px;
            width: 40px;
          }
          margin: 2px;
          display: block;
          background-image: url("/close.svg");
          border: 1px solid transparent;
          border-radius: 4px;
          &:hover {
            border: 1px solid topbar-colors.$topbar-foreground-color-hover;
          }
          z-index: 2;  // Stack above <a>.
        }
      }
    }
  }
}
