@use "colors-core" as core-colors;

.main-content>.about {
  >section.terms {
    >ul {
      padding: 0;
      font-size: 150%;

      >li {
        display: inline-block;
        text-transform: uppercase;
        margin: 0 32px;

        >a {
          color: black;
          font-weight: normal;
          &:hover {
            color: core-colors.$darker-purple-color;
          }
        }
      }
    }
  }
}
