@use "geometry";

.referrals {
  section {
    .image-tutorial {
      // Step text, numbered list items, and images show up centered in the visual tutorial.
      text-align: center;
      list-style-position: inside;

      ol {
        @media #{geometry.$mobile} {
          padding-left: 0;
        }
      }

      li {
        padding: 1em;

        @media #{geometry.$mobile} {
          padding-left: 0;
          padding-right: 0;
        }
      }

      img {
        display: block;
        margin: auto;
        max-width: 50%;

        @media #{geometry.$mobile} {
          width: 100%;
          max-width: 100%;
        }
      }
    }
  }
}
