.referrals {
  section {
    h1, h2, h3 {
      border-bottom: none;
      margin-bottom: 0;
      padding-bottom: 0;
    }
    h3 {
      font-weight: normal;
      border-bottom: 1px solid #6d6d6d;
    }
    p {
      font-size: 125%;
      margin-top: 0;
    }
    p.gentle-hint {
      font-size: inherit;
      color: #636363;
    }
  }
}
