@use "colors/core" as core-colors;

.demo-box {
  h2 {
    font-weight: normal;
    font-size: 24pt;
    margin: 56px 80px 1em;
    >a {
      font-weight: bold;
      color: black;
    }
  }
  p {
    margin: 1em 56px;
    font-size: 15pt;
    text-align: left;
    >a {
      font-weight: 600;
      color: core-colors.$darker-purple-color;
    }
  }
}
