@use "partials";

.demo-box {
  button {
    @include partials.unstyled-button();
    display: block;
    width: 100%;
    height: 100px;
    background: linear-gradient(to right, black, #7f4b8c);
    color: white;
    font-size: 34pt;
    margin: 48px 0;
  }
}
