@use "sass:color";
@use "colors/core" as core;

//////// Default colors, which may be reused in other modules
$default-content-background-color: #efefef;
$default-content-foreground-color: #191919;

// Color used for horizontal rules separating sections in page content
$default-rule-color: #a2a2a2;

// Some table-related colors.
$default-table-border-color: #ffffff; // Outlines the entire <table>.

$default-table-header-background-color: #d3d3d3;
$default-table-header-foreground-color: #191919;
$default-table-header-background-color-hover: #dddddd;
$default-table-header-border-color: #ffffff;
// ^ Used for the lines between multiple <th>es and between the <thead> and <tbody>

$default-table-row-background-color: #ffffff;
$default-table-row-foreground-color: #000000;
$default-table-row-background-color-hover: #e8e8e8;
$default-table-row-action-background-color: color.adjust(core.$sandstorm-purple-color, $lightness: 53%);
$default-table-row-action-background-color-hover: color.adjust(core.$sandstorm-purple-color, $lightness: 40%);

// Default text input field colors
$default-textinput-background-color: #ffffff;
$default-textinput-outline-color: #9e9e9e;
$default-textinput-outline-color-focus: core.$darker-purple-color;
