@use "geometry";

@mixin publisher-proofs () {
  >ul.publisher-proofs {
    @media #{geometry.$desktop} {
      display: inline-block;
      width: 65%;
    }
    @media #{geometry.$mobile} {
      display: block;
      width: 100%;
    }
    padding: 8px;
    list-style: none;
    >li.publisher-proof {
      display: block;
      >a, >span.pgpkey {
        display: block;
        padding-left: 32px;
        background-size: 24px 24px;
        background-position: 0px center;
        background-repeat: no-repeat;
      }
      >span.pgpkey {
        background-image: url("/key-m.svg");
        >span {
          padding-right: 4px;
          overflow-wrap: break-word;
        }
      }
      >a.keybase {
        background-image: url("/keybase-m.svg");
      }
      >a.twitter {
        background-image: url("/twitter-m.svg");
      }
      >a.github {
        background-image: url("/github-m.svg");
      }
      >a.dns {
        background-image: url("/link-m.svg");
      }
      >a.https {
        background-image: url("/link-m.svg");
      }
    }
  }
}
