@use "colors-applist" as applist-colors;
@use "geometry-breakpoints" as breakpoints;
@use "partials-media" as media;

.app-list {
  >.app-button, >.popular-container>.app-button {
    @mixin apptext () {
      @include media.overflow-ellipsis();
      position: absolute;
      left: 0px;
      width: 100%;
      vertical-align: top;
      text-align: left;
      @media #{breakpoints.$desktop} {
        margin-left: 10px;
      }
      @media #{breakpoints.$mobile} {
        margin-left: 5px;
      }
    }
    >.app-title, >.action-title {
      @include apptext();
      @media #{breakpoints.$desktop} {
        top: 148px;
        font-size: 14pt;
      }
      @media #{breakpoints.$mobile} {
        top: 74px;
        font-size: 8pt;
      }
    }
    >.action-text {
      @include apptext();
      color: applist-colors.$applist-action-text-color;
      @media #{breakpoints.$desktop} {
        top: 168px;
        font-size: 13pt;
      }
      @media #{breakpoints.$mobile} {
        top: 88px;
        font-size: 8pt;
      }
    }
  }
}
