@use "colors";
@use "geometry";
@use "partials";

.app-list {
  >.app-button, >.popular-container>.app-button {
    >.app-icon {
      @include partials.pseudo-img-tag();
      display: block;
      position: absolute;
      top: 0px;
      left: 0px;
      @media #{geometry.$desktop} {
        width: 128px;
        height: 128px;
        margin: 10px;
      }
      @media #{geometry.$mobile} {
        width: 64px;
        height: 64px;
        margin: 5px;
      }
      border-radius: 6px;
      vertical-align: top;
      &.pseudoapp {
        background-color: colors.$applist-pseudoapp-background-color;
        border: 1px colors.$applist-pseudoapp-outline-color;
      }

      &.restore-icon {
        background-image: url('/restore-B7B7B7.svg');

        &:hover {
          background-image: url('/restore-5D5D5D.svg');
        }
      }
      &.upload-icon {
        background-image: url('/upload-B7B7B7.svg');

        &:hover {
          background-image: url('/upload-5D5D5D.svg');
        }
      }
      &.install-icon {
        background-image: url('/install-714DAA.svg');
        border: 1px solid colors.$generic-border-color;

        &:hover {
          background-image: url('/install-896AC6.svg');
        }
      }
    }
  }
}
