@use "geometry";

@mixin publisher-fingerprint () {
  >p.no-fingerprint {
    padding: 8px;
  }

  >p.has-fingerprint {
    vertical-align: top;
    padding-left: 8px;
    @media #{geometry.$desktop} {
      display: inline-block;
      max-width: 30%;
    }
    @media #{geometry.$mobile} {
      display: block;
      width: 100%;
    }
  }
}
