@use "colors/applist" as applist-colors;
@use "geometry/breakpoints" as breakpoints;

.app-list {
  >h2, >.popular-container>h2 {
    display: block;
    font-weight: 400;
    border-bottom: 1px solid applist-colors.$applist-rule-color;
    margin-top: 0px;
    @media #{breakpoints.$mobile} {
      margin-bottom: 8px;
    }
  }
}
