@use "colors";
@use "geometry";
@use "partials";

.app-list {
  >.app-button, >.popular-container>.app-button {
    @include partials.unstyled-button();
    float: left;
    display: block;
    // Browsers render button contents vertically-centered by default.
    // I can't figure out how to suggest that the browser align contents to the top instead, so I
    // specify position: relative here and position: absolute for the image and text label.
    position: relative;
    @media #{geometry.$desktop} {
      width: 148px;
      height: 200px;
      margin-left: 10px;
      margin-right: 10px;
      margin-bottom: 20px;
    }
    @media #{geometry.$mobile} {
      width: 74px;
      height: 102px;
      margin-left: 5px;
      margin-right: 5px;
      margin-bottom: 10px;
    }
    //box-shadow: 0 0 1px black;
    overflow: hidden;
    &.app-action {
    }
    &.dev-background {
      background-image: url("/devmode.png");
      background-size: 100% auto;
      background-color: #ccc;
    }
    &.uninstall-action>.app-icon {
      &::before {
        position: absolute;
        content: " ";
        display: block;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border-radius: 6px;
        background-color: rgba(0, 0, 0, 0.5);
        background-image: url("/close-FFFFFF.svg");
        background-position: center;
        background-size: 50% 50%;
        background-repeat: no-repeat;
        z-index: 1;
      }
    }
    >.app-icon {
      @include partials.pseudo-img-tag();
      display: block;
      position: absolute;
      top: 0px;
      left: 0px;
      @media #{geometry.$desktop} {
        width: 128px;
        height: 128px;
        margin: 10px;
      }
      @media #{geometry.$mobile} {
        width: 64px;
        height: 64px;
        margin: 5px;
      }
      border-radius: 6px;
      vertical-align: top;
      &.pseudoapp {
        background-color: colors.$applist-pseudoapp-background-color;
        border: 1px colors.$applist-pseudoapp-outline-color;
      }

      &.restore-icon {
        background-image: url('/restore-B7B7B7.svg');

        &:hover {
          background-image: url('/restore-5D5D5D.svg');
        }
      }
      &.upload-icon {
        background-image: url('/upload-B7B7B7.svg');

        &:hover {
          background-image: url('/upload-5D5D5D.svg');
        }
      }
      &.install-icon {
        background-image: url('/install-714DAA.svg');
        border: 1px solid colors.$generic-border-color;

        &:hover {
          background-image: url('/install-896AC6.svg');
        }
      }
    }
    @mixin apptext () {
      @include partials.overflow-ellipsis();
      position: absolute;
      left: 0px;
      width: 100%;
      vertical-align: top;
      text-align: left;
      @media #{geometry.$desktop} {
        margin-left: 10px;
      }
      @media #{geometry.$mobile} {
        margin-left: 5px;
      }
    }
    >.app-title, >.action-title {
      @include apptext();
      @media #{geometry.$desktop} {
        top: 148px;
        font-size: 14pt;
      }
      @media #{geometry.$mobile} {
        top: 74px;
        font-size: 8pt;
      }
    }
    >.action-text {
      @include apptext();
      color: colors.$applist-action-text-color;
      @media #{geometry.$desktop} {
        top: 168px;
        font-size: 13pt;
      }
      @media #{geometry.$mobile} {
        top: 88px;
        font-size: 8pt;
      }
    }
  }
}
