@use "partials";

.install {
  button {
    @include partials.button-base();
    @include partials.button-primary();
    font-size: 150%;
    font-weight: bold;
    padding: 10px 16px;
    line-height: 1.33;
  }
  pre {
    font-family: inherit;
    font-size: inherit;
  }
}
