@use "geometry/breakpoints" as breakpoints;

.install {
  position: relative;
  @media #{breakpoints.$desktop} {
    padding: 24px 32px;
  }
  @media #{breakpoints.$mobile} {
    padding: 0px 8px;
  }
}
