@use "mixins/buttons" as buttons;

@mixin standard-form () {
  // Styles that we tend to reuse in forms, particularly in the admin panel.
  .form-group {
    margin-bottom: 10px;
  }

  .checkbox-group {
    // We want to make it so that labels for checkboxes and other associated content align neatly.
    // To accomplish this, we remove the checkbox from the flow, place all other content inside a
    // box with some left padding, and then pull the checkbox back out to the side with negative margin.
    // We might want to do something similar for radio buttons some day.
    position: relative;
    padding-left: 24px;
    margin-bottom: 10px;
    input[type=checkbox] {
      position: absolute;
      margin-left: -24px;
      font-size: 16px;
    }
  }

  label {
    display: block;
    font-weight: normal;
    font-size: 20px;
  }

  input[type=text], input[type=password], input[type=number], input[type=email], select {
    min-height: 30px;
  }

  input[type=text], input[type=password], input[type=number], input[type=email], select, textarea {
    display: block;
    width: 100%;
    color: #222;
    background-color: white;
    padding: 4px;
    font-size: 16px;
    font-family: inherit;
    border-radius: 2px;
    border: 1px solid #d3d3d3;
    &:disabled {
      color: #666;
      background-color: #efefef;
    }
    &:invalid {
      border: 1px solid #c00;
    }
  }

  .form-subtext {
    font-size: 14px;
    color: #666;
  }

  .button-row {
    width: 100%;
    display: flex;
    flex-direction: row-reverse;
    align-items: stretch;
    justify-content: flex-start;
    >*:not(:first-child) {
      margin-right: 10px;
    }
  }

  button[type="submit"] {
    @include buttons.button-base();
    @include buttons.button-primary();
  }

  button[type=button] {
    @include buttons.button-base();
    @include buttons.button-secondary();
    &.danger {
      @include buttons.button-danger();
    }
  }

  a.button {
    @include buttons.button-base();
    @include buttons.button-secondary();
    &.primary {
      @include buttons.button-primary();
    }
    &.danger {
      @include buttons.button-danger();
    }
    font-weight: inherit;
  }

  &.disabled {
    // Used for marking that the entire form is disabled.  Note that this does not disable the
    // <input>s; you should still add the disabled attribute to each control.
    color: #666;
  }
}
