@use "colors-core" as core-colors;

.flash-message {
  border-radius: 5px;
  padding: 16px;
}

.error-message {
  background-color: core-colors.$error-background-color;
}

.warning-message {
  background-color: core-colors.$warning-background-color;
}

.success-message {
  background-color: core-colors.$success-background-color;
}

.info-message {
  background-color: core-colors.$info-background-color;
}
