@use "colors";
@use "partials";

.role-explanations {
  list-style-type: none;
  padding: 0;
  margin-bottom: 16px;
  >li {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 8px;

    color: #5d5d5d;
    &.current-role {
      color: black;
    }

    .role {
      flex: 0 1 auto;
      width: 7em;
    }

    .explanation {
      padding-left: 8px;
      flex: 1 1 auto;
    }

    .current-role-label {
      display: inline-block;
      padding: 2px 4px;
      border-radius: 2px;
      margin-top: 2px;
      margin-bottom: 2px;

      background-color: #dcefdd;
    }

    .user-class-label {
      display: inline-block;
      padding: 2px 8px;
      border-radius: 2px;
      margin-top: 2px;
      margin-bottom: 2px;

    }

    &.current-role {
      .user-class-label {
        &.admin {
          color: #ffffff;
          background-color: #C66822;
        }
        &.user {
          color: #ffffff;
          background-color: #7EB54D;
        }
        &.visitor {
          color: #ffffff;
          background-color: #939393;
        }
      }
    }
  }
}

.admin-users-profile-information {
  background-color: white;
  list-style-type: none;
  margin: 0;
  padding: 0;
  >li {
    min-height: 36px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
  }

  .profile-picture-name {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;

    .profile-picture {
      @include partials.pseudo-img-tag();
      flex: none;
      display: inline-block;
      width: 36px;
      height: 36px;
      font-size: 0px;
    }

    .profile-name {
      flex: 1 1 auto;
      margin-left: 8px;
    }
  }

  .profile-handle {
    .profile-handle-decorator {
      flex: none;
      display: inline-flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      width: 36px;
      height: 36px;
      font-weight: bold;
      color: #cccccc;
    }
    code {
      flex: 1 1 auto;
      overflow: hidden;
      text-overflow: ellipsis;
      margin-left: 8px;
    }
  }

  .profile-pronouns {
    .profile-pronouns-decorator {
      flex: none;
      display: inline-flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      width: 36px;
      height: 36px;
      .profile-pronouns-icon {
        @include partials.pseudo-img-tag();
        width: 24px;
        height: 24px;
        background-image: url('/pronoun-m.svg');
        opacity: .60; // Hack to get this to look a desired intermediate color.  The icon lines are
                      // too thin for it to look normal if the color matches the rest.
        display: inline-block;
        font-size: 0px;
      }
    }

    .profile-pronouns-preference {
      margin-left: 8px;
    }
  }
}

.user-details-name {
  padding-bottom: 8px;
  border-bottom: 1px solid #dddddd;
}

.admin-user-roles-form {
  display: inline-block;

  .make-admin, .make-user, .make-visitor {
    @include partials.button-base();
    @include partials.button-secondary();
  }
}
