@use "partials";

.admin-user-table {
  div.credentials {
    &[role=gridcell] {
      .credential-list {
        .credential {
          display: flex;
          flex-direction: row;
          align-items: flex-start;
          justify-content: flex-start;

          &:not(:first-child) {
            padding-top: 4px;
            border-top: 1px solid #dddddd;
          }

          &:not(:last-child) {
            padding-bottom: 4px;
          }

          .login-provider-icon {
            align-self: flex-start;
            @include partials.login-provider-icon();
            width: 32px;
            height: 24px;
          }

          .credential-intrinsic-name {
            flex: 0 1 1;
            padding-left: 4px;
            overflow: hidden;
            text-overflow: ellipsis;
          }
        }
      }
    }
  }
}
