.role-explanations {
  list-style-type: none;
  padding: 0;
  margin-bottom: 16px;
  >li {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 8px;

    color: #5d5d5d;
    &.current-role {
      color: black;
    }

    .role {
      flex: 0 1 auto;
      width: 7em;
    }

    .explanation {
      padding-left: 8px;
      flex: 1 1 auto;
    }
  }
}
