@use "partials";

.admin-user-credential-list {
  .credential-emails {
    overflow: wrap;
    .credential-emails-decorator {
      // The email list may be multiple lines long, so this decorator is better off sticking to the
      // top of its box.
      align-self: flex-start;
      flex: none;
      display: inline-flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      width: 36px;
      height: 36px;
      .credential-emails-icon {
        @include partials.pseudo-img-tag();
        width: 24px;
        height: 24px;
        background-image: url('/email.svg');
        display: inline-block;
        font-size: 0px;
      }
    }

    .credential-emails-list {
      flex: 1 1 auto;
      list-style-type: none;
      padding-left: 8px;
      margin: 0;
      overflow: hidden;
      >li {
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }
  }
}
