@use "colors";

.admin-user-credential-list {
  .admin-user-credential-header {
    .admin-user-credential-header-row {
      display: flex;
      flex-direction: row;
      align-items: stretch;
      justify-content: flex-start;
      background-color: colors.$default-table-header-background-color;
      color: colors.$default-table-header-foreground-color;
      border-bottom: 1px solid colors.$default-table-header-border-color;

      >div[role=columnheader]:not(:first-child) {
        border-left: 1px solid colors.$default-table-header-border-color;
      }

      .admin-user-credential-header-cell {
        display: inline-block;
        &.credential {
          flex: 4 1 0;
        }

        &.created, &.last-active, &.properties {
          flex: 1 1 0;
        }
      }
    }
  }
}
