@use "partials";
form.admin-personalization-form {
  @include partials.standard-form();

  .logo {
    @include partials.pseudo-img-tag();
    background-position: bottom;
    display: inline-block;
    width: 64px;
    height: 64px;
    vertical-align: bottom;
    margin-right: 32px;
  }
}
