@use "colors";

.admin-user-credential-list {
  border: 1px solid colors.$default-table-border-color;

  div[role=columnheader] {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: flex-start;
  }

  div[role=columnheader], div[role=gridcell] {
    padding: 4px;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .admin-user-credential-header {
    .admin-user-credential-header-row {
      display: flex;
      flex-direction: row;
      align-items: stretch;
      justify-content: flex-start;
      background-color: colors.$default-table-header-background-color;
      color: colors.$default-table-header-foreground-color;
      border-bottom: 1px solid colors.$default-table-header-border-color;

      >div[role=columnheader]:not(:first-child) {
        border-left: 1px solid colors.$default-table-header-border-color;
      }

      .admin-user-credential-header-cell {
        display: inline-block;
        &.credential {
          flex: 4 1 0;
        }

        &.created, &.last-active, &.properties {
          flex: 1 1 0;
        }
      }
    }
  }

  .admin-user-credential-body {
    .admin-user-credential-body-row {
      display: flex;
      flex-direction: row;
      align-items: flex-start;
      justify-content: flex-start;
      background-color: colors.$default-table-row-background-color;
      &:not(:last-child) {
        border-bottom: 1px solid #dddddd;
      }

      .admin-user-credential-body-cell {
        display: inline-block;
        &.credential {
          flex: 4 1 0;
        }

        &.created, &.last-active, &.properties {
          flex: 1 1 0;
        }
      }
    }
  }
}
