.admin-caps-table {
  .grant-by {
    width: 218px; // Width of an identity-card
    flex: none;
  }

  .grant-to {
    flex: 1 1 auto;
  }

  .grant-details {
    width: 260px;
    flex: none;
  }

  div[role=gridcell].grant-details {
    gap: 6px;
    flex-wrap: wrap;
    word-break: break-word;
  }

  .http-methods {
    flex: none;
  }

  .http-url {
    min-width: 0;
  }

  .grant-time {
    width: 100px;
    flex: none;
  }

  .actions {
    width: 70px;
    flex: none;
  }
}
