.admin-caps-filter {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  .search-bar {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    margin-right: 32px;
  }
  .filter-checkboxes {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    .filter-checkboxes-label, ul {
      display: inline-block;
    }
    ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
    }
  }
}
