@use "login-provider/styles/icon" as login-provider;

.admin-user-credential-list {
  .credential-provider {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;

    .login-provider-icon {
      @include login-provider.login-provider-icon();
      flex: none;
      width: 36px;
      height: 36px;
    }
    .intrinsic-name {
      overflow: hidden;
      text-overflow: ellipsis;
      margin-left: 8px;
    }
  }
}
