@use "colors";

.admin-settings {
  padding: 32px;

  h1 {
    font-weight: normal;
    margin-top: 0;
    //padding-top: 12px;
    padding-bottom: 12px;
    border-bottom: 1px solid colors.$default-rule-color;
  }

  h2 {
    font-size: 24px;
    font-weight: normal;
  }
}
