@use "admin-users-primitives";

.admin-user-credential-list {
  .login-credential {
    @include admin-users-primitives.credential-property-label();
    background-color: #dcefdd;
  }

  .org-member {
    @include admin-users-primitives.credential-property-label();
    background-color: #dbdbdb;
  }

  .email-primary {
    @include admin-users-primitives.credential-property-label();
    background-color: #e5e1ef;
  }

  .email-verified {
    @include admin-users-primitives.credential-property-label();
    background-color: #dcefdd;
  }

  .email-unverified {
    @include admin-users-primitives.credential-property-label();
    background-color: #efdcdd;
  }
}
