.admin-user-table {
  div.credentials {
    &[role=gridcell] {
      .credential-list {
        margin: 0;
        padding-left: 0;
        padding-right: 0;
        padding-top: 4px;
        padding-bottom: 0;
        list-style-type: none;
        display: flex;
        flex-direction: column;
        align-items: stretch; // so the childrens borders will span the whole row
        justify-content: flex-start;
      }
    }
  }
}
