@use "partials";

.admin-user-credential-list {
  .credential-information {
    list-style-type: none;
    margin: 0;
    padding: 0;
    >li {
      min-height: 36px;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: flex-start;
    }
  }

  .credential-provider {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;

    .login-provider-icon {
      @include partials.login-provider-icon();
      flex: none;
      width: 36px;
      height: 36px;
    }
    .intrinsic-name {
      overflow: hidden;
      text-overflow: ellipsis;
      margin-left: 8px;
    }
  }

  .credential-emails {
    overflow: wrap;
    .credential-emails-decorator {
      // The email list may be multiple lines long, so this decorator is better off sticking to the
      // top of its box.
      align-self: flex-start;
      flex: none;
      display: inline-flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      width: 36px;
      height: 36px;
      .credential-emails-icon {
        @include partials.pseudo-img-tag();
        width: 24px;
        height: 24px;
        background-image: url('/email.svg');
        display: inline-block;
        font-size: 0px;
      }
    }

    .credential-emails-list {
      flex: 1 1 auto;
      list-style-type: none;
      padding-left: 8px;
      margin: 0;
      overflow: hidden;
      >li {
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }
  }
}
