@use "partials";

.admin-preinstalled-apps {
  [role=grid] {
    [role=row] {
      [role=gridcell] {
        padding: 4px;
        overflow: hidden;
        @include partials.overflow-ellipsis();
        flex-grow: 0;
        &.name {
          width: 20%;
        }
        &.description {
          width: 70%;
          color: #888888;
        }
      }
    }
  }
}
