@use "colors/defaults" as default-colors;

.admin-user-table {
  border: 1px solid default-colors.$default-table-border-color;

  div[role=columnheader] {
    // Column header text should "stick" to the bottom of the row, to be
    // closest to the contents of the column.
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: flex-start;
  }

  div[role=columnheader], div[role=gridcell] {
    padding: 4px;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}
