@use "colors";
@use "partials";
@use "admin-users-primitives";

.admin-user-credential-list {
  border: 1px solid colors.$default-table-border-color;

  div[role=columnheader] {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: flex-start;
  }

  div[role=columnheader], div[role=gridcell] {
    padding: 4px;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .admin-user-credential-header {
    .admin-user-credential-header-row {
      display: flex;
      flex-direction: row;
      align-items: stretch;
      justify-content: flex-start;
      background-color: colors.$default-table-header-background-color;
      color: colors.$default-table-header-foreground-color;
      border-bottom: 1px solid colors.$default-table-header-border-color;

      >div[role=columnheader]:not(:first-child) {
        border-left: 1px solid colors.$default-table-header-border-color;
      }

      .admin-user-credential-header-cell {
        display: inline-block;
        &.credential {
          flex: 4 1 0;
        }

        &.created, &.last-active, &.properties {
          flex: 1 1 0;
        }
      }
    }
  }

  .admin-user-credential-body {
    .admin-user-credential-body-row {
      display: flex;
      flex-direction: row;
      align-items: flex-start;
      justify-content: flex-start;
      background-color: colors.$default-table-row-background-color;
      &:not(:last-child) {
        border-bottom: 1px solid #dddddd;
      }

      .admin-user-credential-body-cell {
        display: inline-block;
        &.credential {
          flex: 4 1 0;
        }

        &.created, &.last-active, &.properties {
          flex: 1 1 0;
        }
      }
    }
  }

  .credential-information {
    list-style-type: none;
    margin: 0;
    padding: 0;
    >li {
      min-height: 36px;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: flex-start;
    }
  }

  .credential-provider {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;

    .login-provider-icon {
      @include partials.login-provider-icon();
      flex: none;
      width: 36px;
      height: 36px;
    }
    .intrinsic-name {
      overflow: hidden;
      text-overflow: ellipsis;
      margin-left: 8px;
    }
  }

  .credential-emails {
    overflow: wrap;
    .credential-emails-decorator {
      // The email list may be multiple lines long, so this decorator is better off sticking to the
      // top of its box.
      align-self: flex-start;
      flex: none;
      display: inline-flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      width: 36px;
      height: 36px;
      .credential-emails-icon {
        @include partials.pseudo-img-tag();
        width: 24px;
        height: 24px;
        background-image: url('/email.svg');
        display: inline-block;
        font-size: 0px;
      }
    }

    .credential-emails-list {
      flex: 1 1 auto;
      list-style-type: none;
      padding-left: 8px;
      margin: 0;
      overflow: hidden;
      >li {
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }
  }

  .login-credential {
    @include admin-users-primitives.credential-property-label();
    background-color: #dcefdd;
  }

  .org-member {
    @include admin-users-primitives.credential-property-label();
    background-color: #dbdbdb;
  }

  .email-primary {
    @include admin-users-primitives.credential-property-label();
    background-color: #e5e1ef;
  }

  .email-verified {
    @include admin-users-primitives.credential-property-label();
    background-color: #dcefdd;
  }

  .email-unverified {
    @include admin-users-primitives.credential-property-label();
    background-color: #efdcdd;
  }
}
