@use "partials";
.admin-networking {
  @extend %standard-form;

  textarea {
    min-height: 200px;
    font-family: monospace;
  }

  .save {
    @include partials.button-base();
    @include partials.button-primary();
    margin-left: 10px;
  }

  .restore {
    @include partials.button-base();
    @include partials.button-secondary();
    margin-left: 10px;
  }
}
