@use "colors-defaults" as default-colors;

.admin-user-table {
  .account-row {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    background-color: default-colors.$default-table-row-background-color;
    cursor: pointer;
    &:not(:last-child) {
      border-bottom: 1px solid #dddddd;
    }
    &:hover {
      background-color: default-colors.$default-table-row-background-color-hover;
    }
  }
}
