@use "partials";

.setup-next-steps {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  >* {
    margin-left: 10px;
  }
  margin-bottom: 15px;
}

.setup-button-row {
  display: flex;
  flex-direction: row-reverse;
  align-items: stretch;
  justify-content: flex-start;
}

.setup-next-button {
  @include partials.button-base();
  @include partials.button-primary();
  margin-left: 10px;
}

.setup-back-button {
  @include partials.button-base();
  @include partials.button-secondary();
  margin-right: auto;
}

.setup-test-email-button, .setup-skip-email, .setup-skip-button {
  @include partials.button-base();
  @include partials.button-secondary();
  margin-left: 10px;
}

.setup-button-primary {
  @include partials.button-base();
  @include partials.button-primary();
}

.setup-button-secondary {
  @include partials.button-base();
  @include partials.button-secondary();
}

.center {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.make-self-admin, .sign-in-button, .admin-settings-button, .rerun-wizard-button {
  @include partials.button-base();
  display: block;
  width: 200px;
}

.make-self-admin, .sign-in-button, .admin-settings-button {
  @include partials.button-primary();
}

.rerun-wizard-button {
  @include partials.button-secondary();
}

.sandstorm-logo-row {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.sandstorm-logo {
  display: block;
  flex: none;
  width: 200px;
  height: 200px;
  @include partials.pseudo-img-tag();
  background-image: url('/sandstorm-gradient-logo.svg')
}
