.setup-intro-instruction-block {
  text-align: center;
  margin-top: 1em;
  margin-bottom: 1em;
}

.setup-intro-instruction {
  margin: 0;
}

.setup-intro-instruction-deemphasized {
  margin: 0;
  color: #888;
}
