@use "colors";
@use "partials-buttons" as buttons;

@mixin trash-explanation () {
  width: 100%;
  font-size: 10pt;

  button.empty-trash {
    @include buttons.unstyled-button();
    color: colors.$sandstorm-purple-color;
    font-weight: bold;
  }
}
