@use "colors/defaults" as default-colors;

.grain-list {
  >h1 {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-between;

    margin-top: 0px;
    padding-top: 0px;
    padding-bottom: 12px;
    border-bottom: 1px solid default-colors.$default-rule-color;
    margin-bottom: 12px;

    font-size: 24pt;
    font-weight: 400;
  }
}
