@use "geometry-breakpoints" as breakpoints;

@mixin grain-table-row-cells () {
  >tbody>tr {
    >td {
      &.grain-size {
        width: 70px;
        // The mobile viewport is too small to display this much text
        @media #{breakpoints.$mobile} {
          display: none;
        }
      }
      &.last-used {
        width: 110px;
      }
      &.shared-or-owned {
        width: 110px;
        // The mobile viewport is too small to display this much text
        @media #{breakpoints.$mobile} {
          display: none;
        }
      }
    }
  }
}
