@use "colors-grainlist" as grainlist-colors;
@use "geometry";

.grain-list {
  overflow: auto;
  padding: 32px;
  @media #{geometry.$mobile} {
    padding: 0px 8px;
  }
  background-color: grainlist-colors.$grainlist-background-color;
  color: grainlist-colors.$grainlist-foreground-color;
}
