@use "colors-defaults" as default-colors;

.grain-settings {
  h1 {
    font-weight: normal;
    margin-top: 0;
    padding-bottom: 12px;
    border-bottom: 1px solid default-colors.$default-rule-color;
  }

  h2 {
    font-size: 24px;
    font-weight: normal;
  }
}
