.topbar-popup {
  .token-petname:hover {
    cursor: pointer;
    color: white;
    background-color: #888;
  }

  button.revoke-token, button.revoke-access {
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    width: 24px;
    height: 24px;
    border: none;
    color: transparent;
    background-color: transparent;
    cursor: pointer;
    background-image: url("/close.svg");
  }
}
