.topbar-popup {
  >.frame-container>.frame {
    >p {
      margin-top: 0;
    }

    h1 {
      font-size: 125%;
      font-weight: bold;
      text-align: center;
      border-bottom: 1px solid #ccc;
      padding: 4px;
      margin: 0;
    }

    hr {
      border: none;
      border-bottom: 2px solid #ccc;
      margin: 4px;
    }

    h2 {
      font-size: 110%;
      font-weight: bold;
      margin: 4px;
    }
  }
}
