@use "colors-defaults" as default-colors;
@use "partials-buttons" as buttons;

.main-content .grain-interstitial {
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: default-colors.$default-content-background-color;
  button.request-access, button.reveal-identity-button, button.restore-from-trash {
    @include buttons.button-base();
    @include buttons.button-primary();
    font-weight: 600;
    padding: 8px;
    line-height: 1.33;
    width: 200px;
    margin-bottom: 1em;
  }
  button.incognito-button {
    @include buttons.button-base();
    @include buttons.button-secondary();
    font-weight: 600;
    padding: 8px;
    line-height: 1.33;
    width: 200px;
    margin-bottom: 1em;
  }
}
