@use "colors";
@use "geometry";
@use "grainlist-primitives";
@use "partials";

.grain-list {
  overflow: auto;
  padding: 32px;
  @media #{geometry.$mobile} {
    padding: 0px 8px;
  }
  background-color: colors.$grainlist-background-color;
  color: colors.$grainlist-foreground-color;

  .question-mark {
    @extend %button-base;
    @extend %button-secondary;
    border: none;
    background-color: inherit;
    background-image: url("/question-a9a9a9.svg");
    background-size: 24px 24px;
    background-position: center;
    display: inline-block;
    width: 24px;
    height: 24px;
    vertical-align: top;
  }
  .question-mark:hover {
    background-image: url("/question-727272.svg");
    background-color: inherit;
  }

  >h1 {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-between;

    margin-top: 0px;
    padding-top: 0px;
    padding-bottom: 12px;
    border-bottom: 1px solid colors.$default-rule-color;
    margin-bottom: 12px;

    font-size: 24pt;
    font-weight: 400;
  }

  >.maybe-row {
    margin-bottom: 12px;
    @media #{geometry.$desktop} {
      display: flex;
      flex-direction: row;
      align-items: flex-start;
      justify-content: space-between;
    }
    @media #{geometry.$mobile} {
      display: block;
    }
  }

  .search-row {
    @extend %search-row;

    flex: 1 1 auto;
    vertical-align: top;
    clear: both;

    @media #{geometry.$mobile} {
      display: block;
      margin-bottom: 12px;
    }
  }

  >.trash-explanation {
    @extend %trash-explanation;
  }

  .usage-info {
    margin-left: 4px;
    padding: 8px;
    border-radius: 4px;
    background-color: white;
    >p { margin: 0; }
  }

  >table {
    @extend %grain-table;
  }

  >.no-grains {
    width: 100%;
    background-color: white;
    overflow: hidden;  // don't let margins escape box
    >p {
      max-width: 400px;
      margin-left: auto;
      margin-right: auto;
    }
  }
}
