a.copy-me {
  // A link which is intended to be copy/pasted, not followed. Clicking on the link will select
  // it for copying.

  display: block;
  margin: 8px;
  border: 1px solid #ccc;
  overflow: hidden;
  font-family: monospace;
  text-decoration: none;
  color: inherit;
}

.popup .token-petname:hover {
  cursor: pointer;
  color: white;
  background-color: #888;
}

button.revoke-token, button.revoke-access {
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  width: 24px;
  height: 24px;
  border: none;
  color: transparent;
  background-color: transparent;
  cursor: pointer;
  background-image: url("/close.svg");
}

#api-token-popup {
  left: 250px;
  width: 450px;
}

#share-grain-popup {
  left: 250px;
  width: 450px;
}

#powerbox-offer-popup,
#powerbox-request-popup {
  left: 250px;
  width: 450px;
}

#powerbox-offer-popup h3,
#powerbox-request-popup > h3 {
  margin-top: 0px;
}

#powerbox-request-popup .error {
  color: red;
}

#powerbox-request-popup input {
  width: 250px;
}

.powerboxIcon {
  font-size: 32px;
  display: inline;
  position: fixed;
  margin-left: 2px;
}

div.popup>p {
  margin-top: 0;
}

div.popup h1 {
  font-size: 125%;
  font-weight: bold;
  text-align: center;
  border-bottom: 1px solid #ccc;
  padding: 4px;
  margin: 0;
}

div.popup hr {
  border: none;
  border-bottom: 2px solid #ccc;
  margin: 4px;
}

div.popup h2 {
  font-size: 110%;
  font-weight: bold;
  margin: 4px;
}
