@use "colors";
@use "partials";

#storage-usage {
  margin: 16px 4px;
  font-size: 75%;
  font-weight: bold;
  color: #777;
}

#storage-usage.over-quota {
  color: red;
}

.main-content .grain-interstitial {
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: colors.$default-content-background-color;
  button.request-access, button.reveal-identity-button, button.restore-from-trash {
    @extend %button-base;
    @extend %button-primary;
    font-weight: 600;
    padding: 8px;
    line-height: 1.33;
    width: 200px;
    margin-bottom: 1em;
  }
  button.incognito-button {
    @extend %button-base;
    @extend %button-secondary;
    font-weight: 600;
    padding: 8px;
    line-height: 1.33;
    width: 200px;
    margin-bottom: 1em;
  }
}

div.grain-container {
  &.active-grain {
    z-index: 0;
    background: white;
  }
  &.inactive-grain {
    z-index: -2;
    display: none;
  }
  .signin-frame {
    position: absolute;
    z-index: 100;
  }
}

iframe.grain-frame {
  border: none;
  padding: 0;
  width: 100%;
  height: 100%;
  margin: 0;
  display: block;
  position: absolute;
  background-color: white;
}

#grain-loading-spinner {
  display: table;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: white;
}
