.topbar-popup.billing-prompt>.frame-container>.frame, .first-time-billing-prompt {
  >h2 {
    text-align: center;
    margin-top: 32px;
    color: #191919;
    font-size: 24pt;
    font-weight: normal;
  }
}
