.topbar-popup.billing-prompt>.frame-container>.frame, .first-time-billing-prompt {
  >.subscriptions {
    max-width: 900px;
    font-size: 11px;
    margin: 32px 16px;
    font-family: "Source Sans Pro", sans-serif;
    margin: auto;

    >a.free-note {
      display: block;
      text-decoration: none;
      font-weight: normal;
      background-color: #f2edf2;
      color: #6a237c;
      max-width: 736px;
      margin: 0 auto;
      padding: 8px;
      font-size: 25px;
    }
  }
}
