@use "geometry";
@use "partials";

div.billing {
  div.usage {
    display: inline-block;
    vertical-align: top;

    @media #{geometry.$not-mobile-only} {
      margin-right: 32px;
    }

    h3 {
      margin: 0.5em 0;
    }

    h4 {
      margin: 0;
    }

    @media #{geometry.$not-mobile-only} {
      max-width: 482px;
    }

    span.plan-name {
      text-transform: capitalize;
    }

    span.plan-ends {
      color: #666;
      font-size: 80%;
      display: block;
    }

    table {
      width: 100%;
    }

    tr:first-of-type {
      height: 48px;
      font-size: 18px;
    }
    td {
      vertical-align: top;
      padding-bottom: 1em;

      p {
        margin-top: 0;
        margin-bottom: 0.7em;
      }
      p:last-child {
        margin-bottom: 0;
      }
      &.current-plan {
        position: relative;
      }
    }
    td:first-of-type {
      width: 140px;
    }

    span.grain-count {
      color: #6d6d6d;

      .used {
        color: #444;
      }
      .total {
        text-transform: capitalize;
      }
    }

    div.used, div.total {
      font-size: 90%;
      color: #6d6d6d;

      .amount {
        color: #191919;
      }
    }

    div.used { float: left; }
    div.total { float: right; }

    div.progress-bar {
      height: 12px;
      background-color: white;
      border: 1px solid #b2b2b2;
      margin: 4px 0;

      >div {
        height: 100%;
        background-color: #65468e;
      }
    }

    hr {
      border: none;
      border-bottom: 1px solid #6d6d6d;
    }

    button {
      &.change-plan {
        @include partials.button-base();
        @include partials.button-primary();
        font-size: 16px;
        width: 125px;
        position: absolute;
        top: 0;
        right: 0;
      }

      &.subscribe {
        @include partials.button-base();
        @include partials.button-primary();
        font-size: 16px;
        width: 125px;
      }

      &.unsubscribe {
        @include partials.button-base();
        @include partials.button-secondary();
        font-size: 90%;
        padding: 4px 16px;
        margin-left: 16px;
      }
    }

    tr.bonus {
      color: #6d6d6d;
      font-size: 90%;
      p.bonus {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
      }
    }

    h4.free-stuff-section-header {
      padding-bottom: 0.5em;
    }

    div.free-stuff {
      /* "Get free storage" area of /account */
      display: flex;
      align-items: center;
      justify-content: space-between;

      >p {
        color: #6d6d6d;
        font-size: 90%;
        padding-right: 0.3em;

        .reward-amount {
          font-weight: bold;
        }
      }

      a.like-a-button, button {
        @include partials.button-base();
        @include partials.button-primary();
        font-family: Arial;
        font-size: 16px;
        font-weight: normal;
        width: 125px;
        flex-shrink: 0;
      }
    }
  }
}
