@use "partials";

div.billing {
  div.usage {
    tr.bonus {
      color: #6d6d6d;
      font-size: 90%;
      p.bonus {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
      }
    }

    h4.free-stuff-section-header {
      padding-bottom: 0.5em;
    }

    div.free-stuff {
      /* "Get free storage" area of /account */
      display: flex;
      align-items: center;
      justify-content: space-between;

      >p {
        color: #6d6d6d;
        font-size: 90%;
        padding-right: 0.3em;

        .reward-amount {
          font-weight: bold;
        }
      }

      a.like-a-button, button {
        @include partials.button-base();
        @include partials.button-primary();
        font-family: Arial;
        font-size: 16px;
        font-weight: normal;
        width: 125px;
        flex-shrink: 0;
      }
    }
  }
}
