@use "colors";
@use "payment-iframe-primitives";

div.billing {
  >section.payment-methods {
    display: inline-block;
    vertical-align: top;

    h3 {
      margin: 0.5em 0;
    }

    max-width: 478px;

    >.balance {
      margin-left: 16px;
      margin: 1em auto 2em;
      text-align: left;

      >.amount {
        border: 1px solid #ccc;
        padding: 4px 16px;
        margin: 0 16px;
      }

      >.details {
        font-size: 80%;
        color: #444;
      }
    }

    >table {
      text-align: left;
      width: 100%;
      border-collapse: collapse;
      border-spacing: 0;

      >thead {
        td {
          border-right: 1px solid colors.$default-content-background-color;
          background-color: #ccc;
          padding-left: 10px;
        }
      }

      td:nth-child(1) {
        width: 75px;
        text-align: center;
      }

      td:nth-child(2) {
        width: 200px;
        padding-right: 16px;
        text-align: right;
      }

      td:nth-child(3) {
        width: 75px;
        text-align: center;
      }

      td:nth-child(4) {
        width: 50px;
        text-align: center;
      }

      >tbody {
        background-color: white;
        >tr {
          border-bottom: 1px solid #ccc;
          >td {
            height: 2em;

            button {
              background-color: transparent;
              border: 1px solid #a199ad;
              color: #5d5d5d;
              cursor: pointer;
              text-transform: uppercase;
              border-radius: 2px;

              &:hover {
                color: #65468e;
                background-color: #e6e1f4;
              }
            }

            &.add-new-card {
              position: relative;
              text-align: left;

              &.iframe-active {
                position: static;
              }

              button {
                padding: 2px 4px;
                font-size: 16px;
                font-weight: bold;
                border-color: #6d6d6d;
                color: #6d6d6d;

                &:hover {
                  background-color: white;
                }
                margin-right: 16px;
              }

              &:hover button {
                background-color: white;
              }
              &:hover {
                cursor: pointer;
              }

              >.mobile-iframe-hack {
                position: absolute;
                height: 24px;
                width: 300px;
                &.fullscreen {
                  @include payment-iframe-primitives.fullscreen-iframe-hack();
                }
              }
            }
            &.checkbox {
              >label {
                font-size: 0;
                position: relative;
                display: inline-block;
                vertical-align: top;
                width: 16px;
                height: 16px;
                border: 1px solid #aaa;
                cursor: pointer;
                border-radius: 2px;
                >input {
                  visibility: hidden;
                }
                &.selected {
                  background: #aaa;
                  cursor: auto;
                }
              }
            }
          }
        }

        >tr:last-child {
          background-color: colors.$default-content-background-color;
          border-bottom: none;
        }
      }
    }
  }
}
