@use "colors";

div.billing {
  >section.payment-methods {
    >table {
      >thead {
        td {
          border-right: 1px solid colors.$default-content-background-color;
          background-color: #ccc;
          padding-left: 10px;
        }
      }
    }
  }
}
