.topbar-popup.billing-prompt>.frame-container>.frame, .first-time-billing-prompt {
  >.faq {

    margin: 0;
    padding: 16px 32px 32px 32px;
    color: #494949;
    text-align: left;

    >h3 {
      margin-top: 0px;
      margin-bottom: 24px;
      font-weight: normal;
      font-size: 20pt;
      border-bottom: 1px solid #c1c1c1;
    }
  }
}
