@use "geometry/breakpoints" as breakpoints;

.topbar-popup.billing-prompt>.frame-container>.frame, .first-time-billing-prompt {
  >.faq {
    .answers {
      display: flex;
      @media #{breakpoints.$desktop} {
        flex-direction: row;
        flex-wrap: wrap;
        align-items: flex-start;
        justify-content: space-between;
      }
      @media #{breakpoints.$mobile} {
        flex-direction: column;
        flex-wrap: nowrap;
        align-items: flex-start;
        justify-content: stretch;
      }
    }
  }
}
