@use "geometry";

.topbar-popup.billing-prompt>.frame-container>.frame, .first-time-billing-prompt {
  >.faq {
    .answers {
      display: flex;
      @media #{geometry.$desktop} {
        flex-direction: row;
        flex-wrap: wrap;
        align-items: flex-start;
        justify-content: space-between;
      }
      @media #{geometry.$mobile} {
        flex-direction: column;
        flex-wrap: nowrap;
        align-items: flex-start;
        justify-content: stretch;
      }

      .answer {
        @media #{geometry.$desktop} {
          display: inline-block;
          max-width: 390px;
          margin-right: 16px;
        }
        @media #{geometry.$mobile} {
          display: block;
          margin: 0px;
        }

        vertical-align: top;

        >h4 {
          margin: 0 0 16px;
          font-size: 14pt;
          font-weight: normal;
        }

        >p {
          font-size: 10pt;
          >a {
            text-decoration: none;
            font-weight: 600;
            color: inherit;
            &:hover {
              color: #65468e;
            }
          }
        }
      }
    }
  }
}
