@use "geometry";

div.billing {
  div.usage {
    display: inline-block;
    vertical-align: top;

    @media #{geometry.$not-mobile-only} {
      margin-right: 32px;
    }

    h3 {
      margin: 0.5em 0;
    }

    h4 {
      margin: 0;
    }

    @media #{geometry.$not-mobile-only} {
      max-width: 482px;
    }

    span.plan-name {
      text-transform: capitalize;
    }

    span.plan-ends {
      color: #666;
      font-size: 80%;
      display: block;
    }

    table {
      width: 100%;
    }

    tr:first-of-type {
      height: 48px;
      font-size: 18px;
    }
    td {
      vertical-align: top;
      padding-bottom: 1em;

      p {
        margin-top: 0;
        margin-bottom: 0.7em;
      }
      p:last-child {
        margin-bottom: 0;
      }
      &.current-plan {
        position: relative;
      }
    }
    td:first-of-type {
      width: 140px;
    }
  }
}
