@use "geometry";

div.billing {
  div.usage {
    display: inline-block;
    vertical-align: top;

    @media #{geometry.$not-mobile-only} {
      margin-right: 32px;
    }

    h3 {
      margin: 0.5em 0;
    }

    h4 {
      margin: 0;
    }

    @media #{geometry.$not-mobile-only} {
      max-width: 482px;
    }
  }
}
